.side-by-side {
  display: flex;
  justify-content: space-between;
  .mat-card {
    width: 45%;
  }
}
p {
  width: 100%;
  .mat-form-field {
    width: 100%;

    &.small-width {
      width: 30%;
      margin-right: 2rem;
    }
    &.half-width {
      width: 45%;
      margin-right: 2rem;
    }
  }
}

button {
  &.warn {
    border-color: red;
  }
}
.shared-secret {
  margin-left: 3rem;
}
