.tile-header .mat-grid-tile-header {
  margin: 0 2rem;
}

.mat-chip {
  margin-top: 2px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
}

.mat-list-base[dense] .mat-list-item {
  height: fit-content;
}

.mat-card-subtitle {
  margin-left: 15px;
  color: black;
  font-size: 18px;
}

.card-title-chip {
  margin-top: -6px;
}

.mat-card {
  position: absolute;
  width: 100%;
  height: 98%;
  box-sizing: border-box;
  border: none;
  box-shadow: none;

  .mat-card-header .mat-card-title {
    margin-top: 12px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
  }

  .title-spacing {
    margin-top: 25px;
  }

  .mat-card-content {
    background-color: var(--active-grey-background);
    padding-bottom: 4px;

    a {
      margin-left: 5px;
    }

    .card-details-list {
      padding-top: 0.5rem;

      .card-detail-label {
        min-width: 6rem;
      }
    }
  }
}

.internal-mat-grid {
  min-width: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.not-internal-card {
  top: 3rem;
}
