<mat-grid-list [cols]="5" [ngStyle]="{ height: (layout$ | async).applicationCreationReviewGridHeight }" rowHeight="fit">
  <mat-grid-tile [colspan]="(layout$ | async).applicationCreationReviewLeftColumnSpan">
    <mat-grid-tile-header>Solution</mat-grid-tile-header>
    <mat-card class="review-card">
      <mat-card-header>
        <mat-card-title>
          {{ applicationName }}
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ applicationDescription }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense class="card-details-list">
          <mat-list-item>
            <div class="card-detail-label">Solution</div>
            <p matInput readonly="true">{{ applicationSolutionName }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="rightColumnWidth$ | async">
    <mat-grid-tile-header>Activator</mat-grid-tile-header>
    <mat-card class="review-card">
      <mat-card-header>
        <mat-card-title>
          <div>{{ activator.name }}</div>
          <mat-chip class="card-title-chip" [color]="activatorStatusColor" selected>
            {{ activator.status }}
          </mat-chip>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ activatorDescription }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense class="card-details-list">
          <mat-list-item>
            <div class="card-detail-label">Data sensitivity</div>
            <mat-chip [color]="sensitivityColor" selected>
              {{ activator.sensitivity }}
            </mat-chip>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Type</div>
            <mat-chip>{{ activatorType }}</mat-chip>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Environment</div>
            <mat-chip>{{ applicationEnv }}</mat-chip>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- <mat-grid-tile [colspan]="(layout$ | async).applicationCreationReviewLeftColumnSpan">
    <mat-grid-tile-header>Application</mat-grid-tile-header>
    <mat-card class="review-card">
      <mat-card-header>
        <mat-card-title>
          {{ applicationName }}
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ applicationDescription }}</p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile> -->
</mat-grid-list>
