.side-by-side {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  .mat-card {
    width: 45%;
  }
  p {
    width: 100%;
    .mat-form-field {
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  padding: 0.3rem 0.5rem;
  padding-top: auto;
  background-color: var(--active-grey-background);
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
}
