<form [formGroup]="formGroup">
  <div class="side-by-side">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Primary</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <input
              matInput
              required
              type="text"
              maxlength="50"
              formControlName="primaryRegion"
              placeholder="Type region here..."
            />
            <mat-error *ngIf="f.primaryRegion.errors?.required"> Region is <strong>required</strong> </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Subnet Name</mat-label>
            <input
              matInput
              required
              type="text"
              maxlength="50"
              formControlName="primarySubnetName"
              placeholder="Type subnet name here..."
            />
            <mat-error *ngIf="f.primarySubnetName.errors?.required"
              >Subnet name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>GCP VPC subnet</mat-label>
            <input
              matInput
              required
              type="text"
              maxlength="50"
              formControlName="primaryGcpVpcSubnet"
              placeholder="E.g 10.0.1.0/24..."
            />
            <mat-error *ngIf="f.primaryGcpVpcSubnet.errors?.required"
              >GCP VPC subnet is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="f.primaryGcpVpcSubnet.hasError('pattern')">
              Please enter GCP VPC subnet in format e.g. "10.0.1.0/24..."
            </mat-error>
          </mat-form-field>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Secondary</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <input
              matInput
              type="text"
              maxlength="50"
              formControlName="secondaryRegion"
              placeholder="Type region here..."
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Subnet Name</mat-label>
            <input
              matInput
              type="text"
              maxlength="50"
              formControlName="secondarySubnetName"
              placeholder="Type subnet name here..."
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>GCP VPC subnet</mat-label>
            <input
              matInput
              type="text"
              maxlength="50"
              formControlName="secondaryGcpVpcSubnet"
              placeholder="E.g 10.0.2.0/24..."
            />
            <mat-error *ngIf="f.secondaryGcpVpcSubnet.hasError('pattern')">
              Please enter GCP VPC subnet in format e.g. "10.0.1.0/24..."
            </mat-error>
          </mat-form-field>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-stepper-action left">
    <button mat-button color="primary" matStepperPrevious>
      <mat-icon>chevron_left</mat-icon>
      Back
    </button>
  </div>
  <div class="app-stepper-action right">
    <button mat-button color="primary" matStepperNext>
      Next
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</form>
