<mat-grid-list cols="5" rowHeight="700px" *ngIf="activator">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-grid-tile-header>Metadata</mat-grid-tile-header>
    <mat-grid-list class="internalMatGrid" cols="2" rowHeight="95px">
      <mat-grid-tile [colspan]="2" [rowspan]="3">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Description
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>{{ application.name }} - {{ application.description }}</div>

            <mat-list dense class="description-list">
              <mat-list-item>
                <div class="mat-body-1">Data sensitivity</div>
                <mat-chip-list>
                  <mat-chip class="sensitivity" [ngClass]="sensitivityColor">{{ activator.sensitivity }}</mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item>
                <div class="mat-body-1">Users</div>
                <mat-chip-list>
                  <mat-chip>{{ activator.userCapacity }}</mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item>
                <div class="mat-body-1">Servers</div>
                <mat-chip-list>
                  <mat-chip>{{ activator.serverCapacity }}</mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item>
                <div class="mat-body-1">Regions</div>
                <mat-chip-list>
                  <mat-chip *ngFor="let region of activator.regions">{{ region }}</mat-chip>
                </mat-chip-list>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Business unit
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">{{ activator.businessUnity }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Technology owner
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">{{ activator.technologyOwner }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Technology owner e-mail
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">{{ activator.technologyOwnerEmail }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Billing
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">{{ activator.billing }} <a href="#">View details</a></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="configuration-grid-tile">
    <mat-grid-tile-header>Configuration</mat-grid-tile-header>
    <mat-grid-list class="internalMatGrid" cols="1" rowHeight="110px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Activator
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>{{ activator.name }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Category
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip>{{ activator.category }}</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Environments
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip *ngFor="let env of activator.envs">{{ env }}</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Cloud patform
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip *ngFor="let platform of activator.platforms">{{ platform }}</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card-activ-store-details">
          <mat-card-header>
            <mat-card-title>
              Resources
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip *ngFor="let resource of activator.resources">
                {{ resource.name }} | <a href="#">{{ resource.ipAddress }}</a>
              </mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
</mat-grid-list>
