:host {
  display: flex;
  background-color: var(--active-grey-background);
  padding: 0.2rem;
  border-radius: var(--radius);
}

.switch-button {
  flex: auto;
  background: none;
  border: none;
  outline: none;
  font-size: 0.875rem;
  padding: 0.4rem 2rem 0.6rem;
  border-radius: var(--radius);

  &.active {
    background-color: var(--primary-color);
    color: var(--white);
  }
}

.count {
  color: var(--grey);
}

