<div class="grid-container team-grid-container">
  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <mat-grid-list
    *ngIf="!isLoading"
    [cols]="(layout$ | async).gridCols"
    [rowHeight]="(layout$ | async).teamGridItemHeight"
    gutterSize="24px"
  >
    <mat-grid-tile *ngFor="let team of teams$ | async" colspan="1" rowspan="1">
      <app-teams-home-grid-card class="team-grid-card" [team]="team"></app-teams-home-grid-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
