.mat-elevation-z8 {
  margin: 1rem;
  margin-top: 0;
  overflow: auto;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color: var(--active-grey-background);
}

.mat-chip {
  font-size: 14px;
  font-weight: normal;
  padding: 0.2rem 0.5rem;
  min-height: 1.5rem;
  border-radius: 0.2rem;
  margin-right: 5px;
  white-space: nowrap;
  outline: none;
}

.nowrap {
  white-space: nowrap;
}
