:host {
  display: flex;
  min-height: 100vh;
}

app-info-pane {
  flex: 1 1 50%;
  background-color: var(--primary-color);
}

app-login-form-pane{
  flex: 1 1 50%;
  background-color: var(--white);
}
