
app-info-pane{
  flex: auto;
  float: left;
  left:0;
  background-color: var(--primary-color);
  position: absolute;
  width:50%;
  height: 100%;
}

app-login-form-pane{
  flex: auto;
  float: right;
  right: 0;
  background-color: #FFFFFF;
  position: absolute;
  width:50%;
  height: 100%;
}


