<header>
  <app-breadcrumbs
    [steps]="[
      { name: 'Teams', link: '/administration/teams' },
      {
        name: defaultTeam.value ? defaultTeam.value : 'View',
        link: '/administration/teams/view',
        id: defaultTeam.key ? defaultTeam.key : ''
      },
      { name: 'Edit team member' }
    ]"
  ></app-breadcrumbs>
</header>

<main>
  <form [formGroup]="teamMemberForm" (ngSubmit)="onSubmit(teamMemberForm.value)">
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Team</mat-label>
        <input matInput [value]="teamMember?.team?.name" readonly />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>User Info</mat-label>
        <input matInput [value]="teamMemberInfo" readonly />
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="isTeamAdmin">Team Admin</mat-checkbox>
    </p>
    <div class="app-bottom-action left">
      <button mat-button color="primary" (click)="cancel()">
        <mat-icon class="app-cancel-icon">cancel</mat-icon>
        Cancel
      </button>
    </div>
    <div class="app-bottom-action right">
      <button mat-button color="primary" [loading]="(updateTeamMemberStatus$ | async).loading">
        Update Team Member
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </form>
</main>
<div class="app-bottom-background"></div>
