<header>
  <div>
    <a mat-button color="primary" routerLink="/administration/landing-zone/wan">
      <mat-icon>chevron_left</mat-icon> Back
    </a>
  </div>
  <div>
    <span class="title">WAN</span>
    <span class="vertical-divider"></span>
    <span>VPN</span>
    <span class="vertical-divider"></span>
    <span class="subtitle">Landing Zone in edit mode</span>
  </div>
</header>
<div class="grid-container">
  <div class="step">VPN</div>
  <form [formGroup]="vpnFormGroup">
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Project Name</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="50"
          formControlName="projectName"
          placeholder="E.g. project name..."
        />
        <mat-error *ngIf="vpnF.projectName.errors?.required"> Project name is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>VPC Network Name</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="50"
          formControlName="vpcName"
          placeholder="Generate network name"
        />
        <mat-error *ngIf="vpnF.vpcName.errors?.required"> VPC network name is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="description">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          required
          #desctext
          maxlength="200"
          formControlName="description"
          placeholder="Type your description here..."
        ></textarea>
        <mat-hint align="end">{{ desctext.value.length }} / 200</mat-hint>
        <mat-error *ngIf="vpnF.description.errors?.required"> Description is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Subnet Mode</mat-label>
        <mat-select required formControlName="subnetMode">
          <mat-option *ngFor="let item of subnetModeList" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="vpnF.subnetMode.errors?.required">
          Selection of subnet mode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>BGP Routing Mode</mat-label>
        <mat-select required formControlName="bgpRoutingMode">
          <mat-option *ngFor="let item of bgpRoutingModeList" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="vpnF.bgpRoutingMode.errors?.required">
          Selection of BGP routing mode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>HA VPN Gateway</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="50"
          formControlName="haVpnGateway"
          placeholder="ha-vpn-gw-tranquilitybase"
        />
        <mat-error *ngIf="vpnF.haVpnGateway.errors?.required"> HA VPN Gateway is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Cloud Router Name</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="50"
          formControlName="cloudRouterName"
          placeholder="tranquilitybase-router-tranquilitybase"
        />
        <mat-error *ngIf="vpnF.cloudRouterName.errors?.required">
          Cloud router name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>External VPN Gateway</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="50"
          formControlName="externalVpnGateway"
          placeholder="tranquilitybase-peer-gw"
        />
        <mat-error *ngIf="vpnF.externalVpnGateway.errors?.required">
          External VPN gateway is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Google ASN</mat-label>
        <input matInput required type="text" maxlength="50" formControlName="googleASN" placeholder="65001" />
        <mat-error *ngIf="vpnF.googleASN.errors?.required"> Google ASN is <strong>required</strong> </mat-error>
        <mat-error *ngIf="vpnF.googleASN.hasError('minlength')">
          It must have at least 4 digits
        </mat-error>
        <mat-error *ngIf="vpnF.googleASN.hasError('pattern')">
          It may contain only numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Peer ASN</mat-label>
        <input matInput required type="text" maxlength="50" formControlName="peerASN" placeholder="65002" />
        <mat-error *ngIf="vpnF.peerASN.errors?.required"> Peer ASN is <strong>required</strong> </mat-error>
        <mat-error *ngIf="vpnF.peerASN.hasError('minlength')">
          It must have at least 4 digits
        </mat-error>
        <mat-error *ngIf="vpnF.peerASN.hasError('pattern')">
          It may contain only numbers
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>BGP interface netmask length</mat-label>
        <input matInput required type="text" maxlength="50" formControlName="bgpInterfaceNetLength" placeholder="/30" />
        <mat-error *ngIf="vpnF.bgpInterfaceNetLength.errors?.required">
          BGP interface netmask length is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="vpnF.bgpInterfaceNetLength.hasError('pattern')">
          Please enter netmask in valid format e.g. "/30"
        </mat-error>
      </mat-form-field>
    </p>
  </form>
  <div class="step">Google Session</div>
  <form [formGroup]="googleSessionFormGroup">
    <div class="side-by-side">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Primary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Region</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="50"
                formControlName="primaryRegion"
                placeholder="Type region here..."
              />
              <mat-error *ngIf="googleF.primaryRegion.errors?.required">
                Region is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Subnet Name</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="50"
                formControlName="primarySubnetName"
                placeholder="Type subnet name here..."
              />
              <mat-error *ngIf="googleF.primarySubnetName.errors?.required"
                >Subnet name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>GCP VPC subnet</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="50"
                formControlName="primaryGcpVpcSubnet"
                placeholder="E.g 10.0.1.0/24..."
              />
              <mat-error *ngIf="googleF.primaryGcpVpcSubnet.errors?.required">
                GCP VPC subnet is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="googleF.primaryGcpVpcSubnet.hasError('pattern')">
                Please enter GCP VPC subnet in format e.g. "10.0.1.0/24..."
              </mat-error>
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Secondary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Region</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondaryRegion"
                placeholder="Type region here..."
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Subnet Name</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondarySubnetName"
                placeholder="Type subnet name here..."
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>GCP VPC subnet</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondaryGcpVpcSubnet"
                placeholder="E.g 10.0.2.0/24..."
              />
              <mat-error *ngIf="googleF.secondaryGcpVpcSubnet.hasError('pattern')">
                Please enter GCP VPC subnet in format e.g. "10.0.1.0/24..."
              </mat-error>
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
  <div class="step">
    <div class="session-title">On Premise Session</div>
  </div>
  <form [formGroup]="onPremiseSessionFormGroup">
    <p>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Vendor</mat-label>
        <mat-select required formControlName="vendor">
          <mat-option *ngFor="let item of vpnOnPremiseVendorList" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="premiseF.vendor.errors?.required"> Vendor is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <div class="side-by-side">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Primary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Peer IP</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="50"
                formControlName="primaryPeerIp"
                placeholder="E.g. 209.119.81.228..."
              />
              <mat-error *ngIf="premiseF.primaryPeerIp.errors?.required">
                Peer IP is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="premiseF.primaryPeerIp.hasError('pattern')">
                Please enter peer IP in format e.g. "209.119.81.228..."
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Peer IP Subnet</mat-label>
              <input matInput type="text" maxlength="50" formControlName="primaryPeerIpSubnet" placeholder="E.g. ..." />
              <mat-error *ngIf="premiseF.primaryPeerIpSubnet.errors?.required">
                Peer IP subnet is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="premiseF.primaryPeerIpSubnet.hasError('pattern')">
                Please enter peer IP subnet in format e.g. "10.0.1.0/24..."
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>VPN Tunnel</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="50"
                formControlName="primaryVpnTunnel"
                placeholder="E.g. tunnel-tranquilitybase-0..."
              />
              <mat-error *ngIf="premiseF.primaryVpnTunnel.errors?.required">
                VPN tunnel is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>BGP Peer</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="50"
                formControlName="primaryBgpPeer"
                placeholder="E.g. tunnel-tranquilitybase-0..."
              />
              <mat-error *ngIf="premiseF.primaryBgpPeer.errors?.required">
                BGP peer is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Shared Secret</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="primarySharedSecret"
                placeholder="Generate or input manually"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="generateSharedSecret('primarySharedSecret')"
                matTooltip="Generate"
              >
                <mat-icon>autorenew</mat-icon>
              </button>
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Secondary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Peer IP</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondaryPeerIp"
                placeholder="E.g. 209.119.81.228..."
              />
              <mat-error *ngIf="premiseF.secondaryPeerIp.hasError('pattern')">
                Please enter peer IP in format e.g. "209.119.81.228..."
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Peer IP Subnet</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondaryPeerIpSubnet"
                placeholder="E.g. ..."
              />
              <mat-error *ngIf="premiseF.secondaryPeerIpSubnet.hasError('pattern')">
                Please enter peer IP subnet in format e.g. "10.0.1.0/24..."
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>VPN Tunnel</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondaryVpnTunnel"
                placeholder="E.g. tunnel-tranquilitybase-0..."
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>BGP Peer</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondaryBgpPeer"
                placeholder="E.g. tunnel-tranquilitybase-0..."
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Shared Secret</mat-label>
              <input
                matInput
                type="text"
                maxlength="50"
                formControlName="secondarySharedSecret"
                placeholder="Generate or input manually"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="generateSharedSecret('secondarySharedSecret')"
                matTooltip="Generate"
              >
                <mat-icon>autorenew</mat-icon>
              </button>
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
<footer>
  <button mat-button color="primary" (click)="cancel()"><mat-icon>chevron_left</mat-icon> Cancel</button>
  <button mat-button color="primary" type="submit" (click)="onSubmit()">
    Update <mat-icon>chevron_right</mat-icon>
  </button>
</footer>
