.mat-grid-list {
  margin: 20px;
}

.filters-row {
  margin: 1.5rem 2rem 0 2rem;
}

.filters-row .filters .mat-button-toggle-group {
  width: 100%;
  max-width: 60em;
}

.filters-row .filters .mat-button-toggle {
  width: 25%;
}

.filters-row .mat-divider {
  margin-top: 1.5rem;
}

.action-button {
  font-family: 'SF Pro Display', Roboto, 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 22px;
  padding: 2rem 0 1rem;
}

.action-button:disabled {
  background-color: #f2f2f2;
}

.action-button:disabled .locked-text {
  font-size: small;
  margin: 0 8px;
  display: block;
  height: auto;
  line-height: 12px;
  width: calc(100% - 34px);
  white-space: normal;
  text-align: left;
}

.action-button .progress {
  position: relative;
  padding: 0.5rem 0.5rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-button .progress-spinner-container {
  width: 26px;
  height: 26px;
  position: relative;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.action-button .progress-spinner-container .mat-progress-spinner {
  position: absolute;
}

.action-button .progress-spinner-container .value {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 9px;
  line-height: 10px;
}

.action-button .progress-spinner-container .value.completed {
  left: 6px;
}

.action-button .progress-spinner-container .value.one-digit {
  left: 10px;
}

.action-button .progress-spinner-container .lock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  line-height: 15px;
}

.action-button .progress-spinner-container .lock-icon .mat-icon {
  height: 15px;
  width: 15px;
}

.action-button .progress-spinner-container .lock-icon .material-icons {
  font-size: 15px;
}

.action-button .category.border {
  position: absolute;
  top: 0;
  border-left: 20px solid #646363;
  border-radius: 10px 0 0 10px;
  height: 100%;
}

.action-button .category.title {
  position: absolute;
  top: 10px;
  left: 2rem;
  font-size: 12px;
  background: #f3f3f3;
  padding: 0 9px;
  line-height: 20px;
}

.action-button .category.folder-structure {
  border-color: #36c5f0;
  color: #36c5f0;
}

.action-button .category.network-setup {
  border-color: #27ae60;
  color: #27ae60;
}

.action-button .category.ad-integration {
  border-color: #e01e5a;
  color: #e01e5a;
}

.action-button .category.logging {
  border-color: #ecb22e;
  color: #ecb22e;
}

.action-button .category.billing-cost-management {
  border-color: rgba(67, 67, 67, 0.7);
  background-color: rgba(67, 67, 67, 0.7);
  color: white;
}

.action-button .category.security {
  border-color: rgba(95, 42, 96, 0.7);
  color: rgba(95, 42, 96, 0.7);
}

.action-button .category.multizone-setup {
  border-color: rgba(1, 69, 136, 0.7);
  color: rgba(1, 69, 136, 0.7);
}
/*# sourceMappingURL=landing-zone-home-grid.component.css.map */