.sub-header {
  display: flex;
  align-items: center;
  background-color: var(--light-grey);
  padding: 1rem 2rem;
  font-weight: 600;
}

.back-btn {
  color: var(--black);
  text-decoration: none;
  font-weight: normal;

  &.left::before {
    border-color: var(--black);
    margin-right: 0.5rem;
  }
}

.time-badge,
.tier {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.tier-icon {
  --line: 0.1rem solid var(--black);
  width: 1.5rem;
  height: 1rem;
  position: relative;
  border: var(--line);
  border-radius: 20%;
  margin-right: 0.5rem;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    border-top: var(--line);
  }
}

.content {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;

  .deployments {
    grid-column: 1/3;
  }

  .deployment-options {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1rem 0;
}

.sub-title {
  font-size: 0.875rem;
  margin: 1rem 0;
  color: var(--dark-grey);
}

.description {
  font-size: 0.875rem;
  color: var(--blackish);
}

.properties, .deployment-options {
  background-color: var(--whitish);
  padding: 0 0.5rem;
}

.deployment-footer {
  padding: 0.5rem 2rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: var(--mainWidth);
  box-sizing: border-box;
  background-color: var(--transparent-white);
}

.app {
  margin-bottom: 1.1rem;
}
