<header>
  <app-breadcrumbs
    [steps]="[
      {
        name: 'Landing Zone',
        link: '/administration/landing-zone'
      },
      {
        name: 'WAN',
        link: '/administration/landing-zone/wan'
      },
      {
        name: 'Create new connection'
      }
    ]"
  >
  </app-breadcrumbs>
</header>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="vpnFormGroup">
    <ng-template matStepLabel>VPN</ng-template>
    <app-landing-zone-wan-create-vpn-tab [formGroup]="vpnFormGroup"></app-landing-zone-wan-create-vpn-tab>
  </mat-step>
  <mat-step [stepControl]="googleEndpointFormGroup">
    <ng-template matStepLabel>Google Endopint</ng-template>
    <app-landing-zone-wan-create-vpn-google-tab
      [formGroup]="googleEndpointFormGroup"
    ></app-landing-zone-wan-create-vpn-google-tab>
  </mat-step>
  <mat-step [stepControl]="remoteEndpointFormGroup">
    <ng-template matStepLabel>Remote Endopint</ng-template>
    <app-landing-zone-wan-create-vpn-on-premise-tab
      [formGroup]="remoteEndpointFormGroup"
    ></app-landing-zone-wan-create-vpn-on-premise-tab>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <app-landing-zone-wan-create-vpn-review-tab
      [vpnFormGroup]="vpnFormGroup"
      [googleEndpointFormGroup]="googleEndpointFormGroup"
      [remoteEndpointFormGroup]="remoteEndpointFormGroup"
      (onSubmit)="submit()"
    ></app-landing-zone-wan-create-vpn-review-tab>
  </mat-step>
</mat-horizontal-stepper>
<div class="app-bottom-background"></div>
