:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 0.3rem 0.5rem;
  background-color: var(--active-grey-background);
  display: flex;
  align-items: center;

  span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 20px;

    &.title {
      font-weight: 800;
    }

    &.vertical-divider {
      border-left: 1px solid var(--grey);
      margin: 0.5rem;
    }
  }
}

.icon-size {
  font-size: 15px;
  padding-top: 5px;
}
