:host {
  display: block;
}

header {
  display: flex;
  text-align: center;
  font-family: SF Pro Display;
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
  }
  background-color: var(--whitish);
}

app-breadcrumbs {
  flex: auto;
}

.create {
  text-decoration: none;
}

.separated {
  position: relative;
  margin-left: 1rem;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 1.25rem;
    left: -0.5rem;
    top: 0.7rem;
    background-color: var(--middle-light-grey);
  }
}

.solution {
  display: flex;
  color: #fff;
  height: 60px;

  &.almost-ready {
    background: #5f2a60;
  }

  &.ready {
    background: #27ae60;
  }

  > app-icon {
    margin: 20px 0 0 42px;
  }

  > p {
    margin: 20px 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    > span {
      margin-left: 3px;
      font-weight: 100;
      font-size: 12px;
    }
  }

  > a {
    position: absolute;
    right: 32px;
    margin-top: 20px;
    color: #fff;
  }
}
