:host {
  display: block;
}

header {
  display: flex;
  text-align: center;
  font-family: SF Pro Display;
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
  }
  background-color: var(--whitish);
}

app-breadcrumbs {
  flex: auto;
}

.create {
  text-decoration: none;
}

.separated {
  position: relative;
  margin-left: 1rem;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 1.25rem;
    left: -0.5rem;
    top: 0.7rem;
    background-color: var(--middle-light-grey);
  }
}
