
<div class="title">Deployed</div>

<table>
  <thead>
    <tr>
      <th>
        <div class="head-desc">
          <div class="head-title">Application</div>
          <app-icon icon="expand_arrow" [size]="10"></app-icon></div>
      </th>
      <th>
        <div class="head-desc">
          <div class="head-title">Environment </div>
          <app-icon icon="expand_arrow" [size]="10"></app-icon></div>
      </th>
      <th>
        <div class="head-desc">
          <div class="head-title">Status</div>
          <app-icon icon="expand_arrow" [size]="10"></app-icon></div>
      </th>
      <th>
        <div class="head-desc">
          <div class="head-title">Notes</div>
          <app-icon icon="expand_arrow" [size]="10"></app-icon></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deployment of deployments$ | async">
      <td>
        {{ deployment.application }}
      </td>
      <td>
        {{ deployment.env }}
      </td>
      <td>
        <span class="badge" [class.red]="!deployment.status">{{ deployment.status ? 'Active' : 'Inactive' }}</span>
      </td>
      <td>
        <div class="notes">
          <div class="notes-text">{{ deployment.notes }}</div>
          <app-icon icon="dots"></app-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-pagination [totalSize]="length$ | async" [current]="page$ | async" (onPageChange)="onPageChange($event)"></app-pagination>
