:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
  }
  background-color: var(--active-grey-background);
}

.sub-header {
  background-color: var(--light-grey);
  padding: 1rem 2rem;
  font-weight: 600;
}

.details-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 90%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-content: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-content: left;
  justify-content: space-evenly;
}

.form-input {
  width: 100%;
  height: 3rem;
  padding: 12px 20px;
  margin: 0.5rem 0;
  display: inline-block;
  background: rgba(249, 249, 249, 0.5);
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}

form {
  height: 100%;
}

select {
  width: 25rem;
  height: 3rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: rgba(249, 249, 249, 0.5);
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

textarea {
  width: 75rem;
  height: 10rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: rgba(249, 249, 249, 0.5);
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  overflow: auto;
}

.label-text {
  font-family: SF Compact Display;
  color: #828282;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.input-text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* TBG */
  color: #272424;
}

.short-input {
  width: 25rem;
}

.details-footer-container {
  display: flex;
  flex-direction: row;
  height: 5rem;
  border: #272424;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* Workspace view */

.workspace-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 90%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-content: left;
}

.dropdown-grid-one {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  padding-right: 8em;
}
.dropdown-grid-one > select {
  margin-bottom: 2.5rem;
}

.environment-container {
  display: flex;
  flex-direction: row;
}

.workspace-form-container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  align-content: left;
  justify-content: left;
}

.workspace-footer-container {
  display: flex;
  flex-direction: row;
  height: 5rem;
  border: #272424;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* checkbox styling */

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 3rem;
}

.checkbox > span {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0.05rem solid black;
  border-radius: 3px;
  outline: none;
  transition-duration: 0.3s;
  margin: auto;
  margin-right: 0.4rem;

  cursor: pointer;
}

.checkbox > input:checked {
  background-color: rgb(0, 0, 0);
}

.checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0.45rem;
  left: 0.7rem;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}

/* Return button styling */

.back-button {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 11px 23px;
  text-decoration: none;
}
.back-button:hover {
  background-color: #e8e8e8;
}
.back-button:active {
  position: relative;
  top: 1px;
}

/* login / continue button styling */

.login-btn {
  color: var(--primary-color);
  border: none;
  outline: none;
  background: transparent;
  float: right;
  font-weight: 600;
  position: relative;
  padding-right: 1.5rem;
  font-family: SF Pro Display;
  font-size: 16px;
  line-height: 22px;

  &::after {
    --arrow-width: 2px;
    content: '';
    display: block;
    transform: rotate(45deg);
    width: 0.7rem;
    height: 0.7rem;
    border-top: var(--arrow-width) solid var(--primary-color);
    border-right: var(--arrow-width) solid var(--primary-color);
    position: absolute;
    right: 0;
    top: 0.45rem;
  }
}

.login-btn:active {
  position: relative;
  top: 1px;
}
