.head-desc {
  background-color: var(--active-grey-background);
  display: flex;
  padding: 0.5rem 0.3rem;
  font-size: 0.875rem;

  app-icon {
    margin: 0 1rem;
  }

  .head-title {
    flex: auto;
  }
}

tbody tr td {
  padding: 0.5rem 0.3rem;
  border-bottom: 1px solid var(--active-grey-background);
}

.notes {
  display: flex;
  align-items: center;
}

.notes-text {
  flex: auto;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}
