<header>
  <app-breadcrumbs [title]="'Create new Activator'"> </app-breadcrumbs>
</header>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="variablesForm">
    <ng-template matStepLabel>Activator Variables</ng-template>
    <form [formGroup]="variablesForm">
      <div class="solution-details-container">
        <mat-grid-list cols="2" rowHeight="130px">
          <mat-grid-tile *ngFor="let variable of activatorData.activatorMetadata.variables" class="tile">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>{{ unSlugify(variable.name) }}</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  maxlength="30"
                  placeholder=""
                  formControlName="{{ variable.name }}"
                />
              </mat-form-field>
              <mat-error *ngIf="isFieldValid(variable.name)">Value is <strong>required</strong> </mat-error>
            </p>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="app-bottom-action right">
          <button color="primary" mat-button matStepperNext (click)="onStepOneNext()">
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="variablesForm">
    <ng-template matStepLabel>Step 2 (rename it)</ng-template>
    <form [formGroup]="variablesForm">
      <div class="app-bottom-action right">
        <button mat-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
<div class="app-bottom-background"></div>
