<header>
  <app-breadcrumbs [title]="'Create new Activator'"> </app-breadcrumbs>
</header>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="variablesForm">
    <ng-template matStepLabel>Activator Variables</ng-template>
    <form [formGroup]="variablesForm">
      <div class="solution-details-container">
        <p>
          <ng-container *ngFor="let variable of activatorData.activatorMetadata.variables">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>{{ unSlugify(variable.name) }}</mat-label>
              <input
                matInput
                required
                type="text"
                maxlength="30"
                placeholder=""
                formControlName="{{ variable.name }}"
              />
            </mat-form-field>
            <mat-error *ngIf="isFieldValid(variable.name)">Value is <strong>required</strong> </mat-error>
          </ng-container>
        </p>
        <div class="app-bottom-action right">
          <button color="primary" mat-button matStepperNext (click)="onStepOneNext()">
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="workspaceForm">
    <ng-template matStepLabel>Workspace</ng-template>
    <form [formGroup]="workspaceForm">
      <div class="solution-workspace-container">
        <p>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>CI (Continuous intergration service)</mat-label>
            <mat-select required formControlName="ciId">
              <mat-option *ngFor="let item of ciList" [value]="item.key">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="w.ciId.errors?.required">
              Continuous integration service is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Source Control</mat-label>
            <mat-select required formControlName="sourceControlId">
              <mat-option *ngFor="let item of sourceControlList" [value]="item.key">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="w.sourceControlId.errors?.required">
              Source control is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>CD (Continuous deployment)</mat-label>
            <mat-select required formControlName="cdId">
              <mat-option *ngFor="let item of cdList" [value]="item.key">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="w.cdId.errors?.required"> Continuous deployment is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Business unit</mat-label>
            <mat-select required formControlName="businessUnitId">
              <mat-option *ngFor="let item of businessUnitList" [value]="item.key"> {{ item.value }} </mat-option>
            </mat-select>
            <mat-error *ngIf="w.businessUnitId.errors?.required">
              Business unit is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Business unit</mat-label>
            <mat-chip-list #chipList aria-label="Supported regions">
              <mat-chip
                *ngFor="let region of w.regions.value"
                color="accent"
                selectable="true"
                [removable]="true"
                (removed)="removeRegion(region)"
              >
                {{ region }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="UK, DB"
                maxlength="30"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addRegion($event)"
              />
              <mat-error *ngIf="w.regions.errors?.required">
                At least one region is <strong>required</strong>
              </mat-error>
            </mat-chip-list>
          </mat-form-field>
        </p>

        <p>
          <mat-card>
            <span class="mat-subheading-1">Available environments</span>
            <mat-divider></mat-divider>
            <mat-selection-list formControlName="environments">
              <mat-list-option *ngFor="let item of environmentList" [value]="item.key">
                {{ item.value }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card>
        </p>

        <div class="app-bottom-action left">
          <button mat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Back
          </button>
        </div>
        <div class="app-bottom-action right">
          <button mat-button color="primary" matStepperNext (click)="onStepTwoNext()">
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <form>
      <div class="app-bottom-action right">
        <button mat-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
<div class="app-bottom-background"></div>
