.login-text {
  font-size: larger;
  font-weight: 1000;
  text-align: center;
}

.create-new {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  /* TBP */

  color: #5f2a60;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 30rem;
}

.login-btn {
  color: var(--primary-color);
  border: none;
  outline: none;
  background: transparent;
  float: right;
  font-weight: 600;
  position: relative;
  padding-right: 1rem;

  &::after {
    --arrow-width: 2px;
    content: '';
    display: block;
    transform: rotate(45deg);
    width: 0.7rem;
    height: 0.7rem;
    border-top: var(--arrow-width) solid var(--primary-color);
    border-right: var(--arrow-width) solid var(--primary-color);
    position: absolute;
    right: 0;
    top: 0.5rem;
  }
}
