<div class="container">

      <img class="tb-logo" src="/assets/images/tb_logo.svg" ><br>
      <span id="loginText">Log in</span><br>

      <form id='loginForm' (submit)="onSubmit($event)">
        <div class="form-container">
          <label  class="form-text">Email</label>
          <input type="email" name="userName" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email here" [(ngModel)]="userName">

          <label  class="form-text">Password</label>
          <input type="password" name="userPassword" class="form-control"  placeholder="Enter password here" [(ngModel)]="userPassword">
          <div *ngIf="error">
            <span class="login-failure">{{loginMessage}}</span>
          </div>

        <label class="checkbox">
          <input  type="checkbox" id="exampleCheck1"/>
          <span id="exampleCheckText" >Keep me logged in</span>
      </label>
          </div>

        <button class="button text-only login-btn" type="submit">Log in</button>
      </form>

      <div class="login-options-container">
        <a class="options" href="/login">Forgot email or password?</a><br>
          <span class="options" >Or</span><br>
        <a class="create-new" href="/login">Create a new account</a>
      </div>
  </div>
