* {

  font-family: 'SF Pro Display';
 }

.login-text {
  font-size: larger;
  font-weight: 1000;
  text-align: center;
}

.create-new{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: SF Compact Display;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* or 100% */

display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

/* TBP */

color: #5F2A60;
}
.container{

  margin-top:20%;

}
