.separated {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 1.25rem;
    background-color: var(--middle-light-grey);
    margin: 0 0.5rem;
  }
}

.dashboard-grid {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 0.6rem));
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, calc(33% - 0.6rem));
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, calc(50% - 0.6rem));
  }
}
