<div class="top-container">
  <button
    mat-button
    class="create-new-button"
    color="primary"
    [disabled]="!userIsTeamAdmin && !(userIsLZAdmin$ | async)"
    (click)="addNewTeamMember()"
  >
    + Add New Team Member
  </button>
  <app-grid-view-switch class="view-settings-bar" [gridViewName]="gridViewOptionsName"></app-grid-view-switch>
</div>
<app-team-members-grid
  *ngIf="isGridViewEnabled$ | async; else listview"
  [userIsTeamAdmin]="userIsTeamAdmin"
></app-team-members-grid>
<ng-template #listview>
  <app-team-members-list [userIsTeamAdmin]="userIsTeamAdmin"></app-team-members-list>
</ng-template>
