<div class="head">
  <div class="status">
    <div class="badge" [class.black]="!app.available">{{ app.available ? 'Available' : 'Locked' }}</div>
    <div class="flex-filler"></div>
    <app-icon icon="star" [stroke]="true" [color]="strokeColor"></app-icon>
    <app-icon icon="dots"></app-icon>
  </div>
  <div class="name">
    {{ app.name }}
  </div>
  <div class="type">
    {{ app.type }}
  </div>
</div>
<app-properties *ngIf="!(deploymentInProgress$ | async)" title="Details" [properties]="properties"></app-properties>
<div *ngIf="deploymentInProgress$ | async" class="loader-container">
  <app-loader [percentage]="percentage$ | async" name="Deployment"></app-loader>
</div>
<div class="description" *ngIf="!active">
  <div class="desc-head">Description</div>
  <div class="desc-content">{{ app.description }}</div>
</div>
<div class="footer" *ngIf="active">
  <a
    class="button empty"
    type="button"
    routerLink="/dashboard/activators/view"
    [queryParams]="{ 'id': app.id }">
    View
  </a>
  <button class="button text-only" type="button" (click)="deploy()">Deploy to app</button>
</div>
