<div *ngIf="(getByActivatorsStatus$ | async).loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<mat-grid-list
  *ngIf="!(getByActivatorsStatus$ | async).loading"
  [cols]="(layout$ | async).gridCols"
  [rowHeight]="(layout$ | async).activatorGridItemHeight"
  gutterSize="24px"
>
  <mat-grid-tile *ngFor="let activator of activators$ | async" colspan="1" rowspan="1">
    <app-activator-store-home-grid-card
      class="activator-grid-card"
      [activator]="activator"
    ></app-activator-store-home-grid-card>
  </mat-grid-tile>
</mat-grid-list>
