<mat-grid-list [cols]="gridCols$ | async" rowHeight="150px">
  <mat-grid-tile *ngFor="let action of actions | async" colspan="1" rowspan="1">
    <button mat-stroked-button class="action-button">
      <div class="category border" [ngClass]="action.categoryClass"></div>
      <div class="category title" [ngClass]="action.categoryClass">{{ action.categoryName }}</div>
      <div>
        <div>
          <mat-icon fontSet="material-icons-outlined">file_copy</mat-icon>
        </div>
        {{ action.title }}
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>
