:host {
  margin: 20px;
}

.action-button {
  font-family: 'SF Pro Display', Roboto, 'Helvetica Neue', sans-serif;
  height: 87%;
  width: 87%;
  border-radius: 10px;
  font-size: 22px;
  padding: 0;
  .progress {
    position: absolute;
    bottom: 31px;
    left: 31px;
    .mat-progress-spinner {
      position: absolute;
    }
    .value {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 9px;
      line-height: 10px;
      &.completed {
        left: 6px;
      }
      &.one-digit {
        left: 10px;
      }
    }
  }
  .category {
    &.border {
      position: absolute;
      top: 0;
      border-left: 20px solid rgb(100, 99, 99);
      border-radius: 10px 0 0 10px;
      height: 100%;
    }
    &.title {
      position: absolute;
      top: 10px;
      left: 2rem;
      font-size: 12px;
      background: #f3f3f3;
      padding: 0 9px;
      line-height: 20px;
    }
    &.folder-structure {
      border-color: rgb(54, 197, 240);
      color: rgb(54, 197, 240);
    }
    &.network-setup {
      border-color: rgb(39, 174, 96);
      color: rgb(39, 174, 96);
    }
    &.ad-integration {
      border-color: rgb(224, 30, 90);
      color: rgb(224, 30, 90);
    }
    &.logging {
      border-color: rgb(236, 178, 46);
      color: rgb(236, 178, 46);
    }
    &.billing-cost-management {
      border-color: rgba(67, 67, 67, 0.7);
      background-color: rgba(67, 67, 67, 0.7);
      color: white;
    }
    &.security {
      border-color: rgba(95, 42, 96, 0.7);
      color: rgba(95, 42, 96, 0.7);
    }
    &.multizone-setup {
      border-color: rgba(1, 69, 136, 0.7);
      color: rgba(1, 69, 136, 0.7);
    }
  }
}

.dashboard-card-content {
  text-align: center;
}
