<header>
  <app-breadcrumbs> </app-breadcrumbs>
</header>
<main>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="30"
          formControlName="firstName"
          placeholder="E.g. user name..."
        />
        <mat-error *ngIf="f.firstName.errors?.required"> First name is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="30"
          formControlName="lastName"
          placeholder="E.g. user surname..."
        />
        <mat-error *ngIf="f.lastName.errors?.required"> Last name is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          required
          type="text"
          maxlength="30"
          formControlName="email"
          placeholder="E.g. user@xyz.com..."
        />
        <mat-error *ngIf="f.email.errors?.required"> E-mail address name is <strong>required</strong> </mat-error>
        <mat-error *ngIf="f.email.hasError('pattern')">
          Please enter valid e-mail address in format e.g. "user@xyz.com"
        </mat-error>
      </mat-form-field>
    </p>
    <div class="app-bottom-action left">
      <button mat-button color="primary" (click)="cancel()">
        <mat-icon class="app-cancel-icon">cancel</mat-icon>
        Cancel
      </button>
    </div>
    <div class="app-bottom-action right">
      <button mat-button color="primary">
        Update User
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </form>
</main>
<div class="app-bottom-background"></div>
