header {
  padding: 0.3rem 0.5rem;
  background-color: var(--active-grey-background);
  display: flex;
  align-items: center;

  span {
    font-family: 'SF Pro Display', Roboto, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 20px;

    &.title {
      font-weight: 800;
    }

    &.vertical-divider {
      border-left: 1px solid var(--grey);
      margin: 0.5rem;
    }
  }
}

.grid-container {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding: 0.3rem 0.5rem;
  background-color: var(--active-grey-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-chip {
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  min-height: 1.5rem;
  border-radius: 0.2rem;
}

.mat-grid-list {
  margin-bottom: 1rem;

  .mat-card {
    height: 80%;
    width: 95%;

    &.google-session-card {
      position: absolute;
      height: 40%;
      width: 90%;
      background-color: var(--active-grey-background);

      &.primary {
        top: 52px;
      }

      &.secondary {
        top: 366px;
      }
    }

    &.on-premise-card {
      .mat-body-1 {
        width: 16rem;
      }
    }

    .mat-card-content {
      &.vpn-card-content {
        .mat-list {
          background-color: var(--active-grey-background);
          padding: 1rem 0;

          .mat-body-1 {
            width: 16rem;
          }
        }
      }

      &.google-session-card-content {
        .mat-h4 {
          margin: 8px 0 8px;
        }
      }
    }

    .on-premise-card-content {
      .table-header {
        display: flex;
        height: 46px;
        align-items: center;
        background-color: var(--active-grey-background);
        font-weight: 600;
        font-size: 14px;
      }

      .table-row {
        display: flex;
        height: 46px;
        align-items: center;
      }

      .col {
        width: 35%;

        &:first-child {
          width: 25%;
        }
      }
    }
  }
}
