<header *ngIf="isSelectedSolution$ | async">
  <div class="create-new-app-title">
    <button mat-button color="primary" (click)="cancel()"><mat-icon class="icon-size">cancel</mat-icon> Cancel</button>
    <div class="title">
      Create new application
    </div>
  </div>
  <app-progress [steps]="['Select activator', 'Input app details']" [current]="progress$ | async"> </app-progress>
</header>

<div class="sub-header">
  <span class="vertical-divider"> <div class="sub-title">Activator Store</div></span>
</div>
<router-outlet></router-outlet>
