<mat-grid-list [cols]="5" [ngStyle]="{ height: (layout$ | async).solutionsViewApplicationsGridHeight }" rowHeight="fit">
  <mat-grid-tile [colspan]="(layout$ | async).applicationCreationReviewLeftColumnSpan">
    <mat-grid-tile-header>Details</mat-grid-tile-header>
    <mat-card class="overview-card">
      <mat-card-header>
        <mat-card-title>
          {{ solution.name }}
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ solution.description }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense class="card-details-list">
          <mat-list-item>
            <div class="card-detail-label">Business Unit</div>
            <p>{{ solution.businessUnit.name }}</p>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Team</div>
            <p>{{ solution.team.name }}</p>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Cost Centre</div>
            <p>{{ solution.costCentre }}</p>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Applications</div>
            <p>{{ solution.applications && solution.applications.length }}</p>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Team</div>
            <p>{{ solution.team.name }}</p>
          </mat-list-item>

          <mat-list-item>
            <div class="card-detail-label">Last updated</div>
            <p>{{ solution.lastUpdated }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="solution.isSandbox" [colspan]="rightColumnWidth$ | async">
    <mat-grid-tile-header>Sandbox</mat-grid-tile-header>
    <mat-card class="sandbox-card">
      <mat-card-content>
        <p>
          The purpose of a Sandbox is to test and drive innovation that it is not entirely understood at the time of
          deployment.
        </p>
        <p>
          Once deployed the Sandbox will consist of a single project under a hierarchy of folders. The project will have
          labels attached to it to aid with reporting and billing. The project’s assigned team will be able to create
          resources and enable APIs within the project. It will have no network configured by default, but the team will
          be able to configure a network themselves. The project’s team will have the minimal set of IAM roles assigned
          to enable this functionality.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!solution.isSandbox" [colspan]="rightColumnWidth$ | async">
    <mat-grid-tile-header>Workspace</mat-grid-tile-header>
    <mat-card class="overview-card" *ngIf="solution.ci">
      <mat-card-header>
        <mat-card-title>
          <div>CI (Continuous intergration service)</div>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ solution.ci.value }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title>
          <div>Source Control</div>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ solution.sourceControl.value }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title>
          <div>CD (Continuous deployment)</div>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{ solution.cd.value }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title>
          <div>Environments</div>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngFor="let env of solution.environments">{{ env.name }}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
