<div class="grid-container user-grid-container">
  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading$"></mat-spinner>
  </div>
  <mat-grid-list
    *ngIf="!isLoading$"
    [cols]="(layout$ | async).gridCols"
    [rowHeight]="(layout$ | async).userGridItemHeight"
    gutterSize="24px"
  >
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button class="create-new-button" color="primary" (click)="createNewUser()">
        <mat-icon>add</mat-icon>Create new user
      </button>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let user of users$ | async" colspan="1" rowspan="1">
      <app-users-home-grid-card class="user-grid-card" [user]="user"></app-users-home-grid-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
