.grid-container {
  margin: 20px;
}

.create-new-button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px dashed var(--dark-grey-2);
  font-size: 1.5rem;
  padding: 0 2rem;

  .mat-icon {
    line-height: 3rem;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    margin-left: -2rem;
  }
}
