<header>
  <app-breadcrumbs> </app-breadcrumbs>
  <button mat-button class="action-button" (click)="createNewTeam()">+ Create new team</button>
</header>
<div class="select-bar">
  <app-teams-home-filter class="home-list-filter" (filterList)="onFilterListUpdate($event)"></app-teams-home-filter>
  <app-grid-view-switch class="grid-view-switch" [gridViewName]="gridViewOptionsName"></app-grid-view-switch>
</div>
<app-teams-home-grid
  *ngIf="isGridViewEnabled$ | async; else listview"
  [teams$]="teams$"
  [isLoading]="(getTeamsStatus$ | async).loading"
></app-teams-home-grid>
<ng-template #listview>
  <app-teams-home-list [teams$]="teams$" [isLoading]="(getTeamsStatus$ | async).loading"></app-teams-home-list>
</ng-template>
