    <div class="head">
        <h5 class="name">{{solution.name}}</h5>
    </div>
    <div class="body">
        <h6 class= "details-head">Details</h6>
        <div class="details">
            <label class="detail-title">Applications</label>
            <label class="detail-value">{{solution.applications}}</label>
        </div>
        <div class="details">
            <label class="detail-title">Teams</label>
            <label class="detail-value">{{solution.teams}}</label>
        </div>
        <div class="details">
            <label class="detail-title">LastUpdated</label>
            <label class="detail-value">{{solution.lastUpdated}}</label>
        </div>
        <h6 class="desc-head">Description</h6>
        <p class="desc-content">{{solution.desc}}</p>
    </div>
