:host {
  display: flex;
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
  }
}
.details-pane {
  display: flex;
  flex-direction: column;
  font-family: SF Pro Display;
}

.pane-content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 1rem 0.5rem;

}

.pane-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #434343;
}

.pane-content h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #272424;
}

.pane-header {
  display: flex;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  color: #333333;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  background-color: #fbfbfb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pane-header h5 {
  padding: {
    left: 2rem;
    right: 2rem;
  }
}

.details {
  display: flex;
  text-align: center;
  font-size: 12px;
  line-height: 0px;
  align-items: center;
  color: #8c8c8c;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.firstlabel {
  padding-right: 3rem;
  width: 126px;
  text-align: left;
}
.secondlabel {
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 2px;
  color: #272424;
  font-weight: 600;
  box-sizing: border-box;
}
