:host {
  display: flex;
  flex-direction: column;
  margin: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
  }
  border: 1px solid var(--grey);
  border-radius: calc(2 * var(--radius));
  font-family: SF Pro Display;
}

.body {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  
}

.head {
  background-color: var(--active-grey-background);
  z-index: -10;
  border-bottom: 1px solid var(--grey);
  box-sizing: border-box;

  
}

.name{
  font-size: 1.375rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333333;;
}

.details-head {
  font-size: 1rem;
  padding-bottom: .5rem;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.details {
  display: flex;
  font-size: .75rem;
  color: #8c8c8c;
  margin-top: 0.3rem;

}

.detail-title {
  width: 8rem;
  padding: 0.3rem;
}

.detail-value {
  
  color: #272424;
  font-weight: 600;
  padding: 0.3rem;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 2px;
}

.desc-head {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  padding-top: .5rem;
  padding-bottom: .5rem;


}

.desc-content{
  width: 16rem;
  font-size: 0.75rem;
  color: #8c8c8c;
  margin-bottom: 1rem;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;

}
