<div class="head">
  <div class="status">
    <div class="badge" [class.black]="!solution.active">{{ solution.active ? 'Active' : 'Locked' }}</div>
    <div class="flex-filler"></div>
    <app-icon icon="star" [stroke]="true" color="grey"></app-icon>
    <app-icon icon="dots"></app-icon>
  </div>
  <h5 class="name">{{ solution.name }}</h5>
</div>
<div *ngIf="!(deploymentInProgress$ | async)" class="body">
  <h6 class="details-head">Details</h6>
  <div class="details">
    <label class="detail-title">Applications</label>
    <label class="detail-value">{{ solution.applications.length }}</label>
  </div>
  <div class="details">
    <label class="detail-title">Teams</label>
    <label class="detail-value">{{ solution.teams }}</label>
  </div>
  <div class="details">
    <label class="detail-title">LastUpdated</label>
    <label class="detail-value">{{ solution.lastUpdated | date: 'dd MMM yyyy' }}</label>
  </div>
</div>
<div *ngIf="deploymentInProgress$ | async" class="loader-container">
  <app-loader [percentage]="percentage$ | async" name="Deployment"></app-loader>
</div>
<div class="description" *ngIf="!active">
  <div class="desc-head">Description</div>
  <div class="desc-content">{{ solution.description }}</div>
</div>
<div class="footer" *ngIf="active">
  <a
    class="button empty"
    type="button"
    routerLink="view"
    [queryParams]="{ id: solution.id, categorySwitch: 'Applications' }"
  >
    View
  </a>
  <button class="button text-only" type="button" (click)="deploy()">Deploy</button>
</div>
