<div class="details-pane">
    <div class="pane-header">
        <h5>{{solution.name}}</h5>
    </div>
    <div class="pane-content">
        <h6>Details</h6>
        <div class="details">
            <label class="firstlabel">Applications</label>
            <label class="secondlabel">{{solution.applications}}</label>
        </div>
        <div class="details">
            <label class="firstlabel">Teams</label>
            <label class="secondlabel">{{solution.teams}}</label>
        </div>
        <div class="details">
            <label class="firstlabel">LastUpdated</label>
            <label class="secondlabel">{{solution.lastUpdated}}</label>
        </div>
        <h6>Description</h6>
        <p>{{solution.desc}}</p>
    </div>
</div>