.nav-item {
  display: flex;
  padding: 0.5rem;
  color: var(--black);
  text-decoration: none;

  &.active {
    background-color: var(--active-grey-background);
    border-radius: var(--radius);
    fill-opacity: 0.5;

    .name {
      font-weight: 600;
    }
  }
}

.name {
  padding-left: 1rem;
}
