:host {
  display: block;
}

header {
  display: flex;
  text-align: center;
  font-family: SF Pro Display;
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
  }
  background-color: var(--whitish);
}

app-breadcrumbs {
  flex: auto;
}
