.dashboard-card {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: none;
  border: 1px dashed #bdbdbd;
  box-sizing: border-box;
  border-radius: 10px;
  .dashboard-card-empty {
    display: flex;
    position: absolute;
    top: 8.5rem;
    .mat-icon {
      font-size: 2rem;
    }
    span {
      margin-left: 1rem;
    }
  }
}
