:host {
  display: block;
}

main {
  margin: 1rem;
}

header {
  display: flex;
  text-align: center;
  font-family: SF Pro Display;
  padding: {
    top: 0.2rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 0.2rem;
  }
  background-color: var(--active-grey-background);
}

app-breadcrumbs {
  flex: auto;
}

.create-sol-view {
  text-decoration: none;
}

.action-button {
  min-width: fit-content;
  height: 100%;
}

.mat-chip {
  border-radius: 4px;
  padding: 0.9rem;
  margin-right: 1rem;
  height: auto;
}

.mat-basic-chip {
  background-color: lightgray;
  border-radius: 4px;
  outline: none;
  padding: 0.9rem;
  margin-right: 1rem;
}

.solution-actions {
  display: flex;
}
