<header>
  <app-breadcrumbs
    [steps]="[
      { name: solution.name, link: '/mission-control/solutions' },
      {
        name: solution.description
      }
    ]"
    [isActive]="solution.isActive"
  >
  </app-breadcrumbs>
</header>
<div>
  <app-solutions-view-select
    [values]="values"
    [enableDeployAll]="solution.applications.length"
  ></app-solutions-view-select>
</div>

<main>
  <p class="details-sol-view">
    <span class="mat-body-strong">
      Business Unit:
      <span class="mat-small">{{ solution.businessUnit.name }}</span>
    </span>
    <span class="mat-body-strong">
      Team:
      <span class="mat-small">{{ solution.team.name }}</span>
    </span>
    <span class="mat-body-strong">
      Cost Centre:
      <span class="mat-small">{{ solution.costCentre }}</span>
    </span>
  </p>
  <app-applications-grid [solution]="solution" *ngIf="(current$ | async) !== 'Workspace'"></app-applications-grid>
  <app-solutions-view-workspace-info
    [solution]="solution"
    *ngIf="(current$ | async) === 'Workspace'"
  ></app-solutions-view-workspace-info>
</main>
