<header>
  <div>
    <a mat-button color="primary" routerLink="/mission-control/solutions"> <mat-icon>chevron_left</mat-icon> Back </a>
  </div>
  <app-breadcrumbs [steps]="[solution.name, solution.description]" [isActive]="solution.isActive"> </app-breadcrumbs>
</header>
<div>
  <app-solutions-view-select
    [values]="values"
    [enableDeployAll]="solution.applications.length"
  ></app-solutions-view-select>
</div>

<main>
  <p class="details-sol-view">
    <span class="mat-body-strong">
      Business Unit:
      <span class="mat-small">{{ solution.businessUnit }}</span>
    </span>
    <span class="mat-body-strong">
      Cost Centre:
      <span class="mat-small">{{ solution.costCentre }}</span>
    </span>
  </p>
  <app-applications-grid [solution]="solution" *ngIf="(current$ | async) !== 'Workspace'"></app-applications-grid>
  <app-solutions-view-workspace-info
    [solution]="solution"
    *ngIf="(current$ | async) === 'Workspace'"
  ></app-solutions-view-workspace-info>
</main>
