.sub-header {
  background-color: var(--light-grey);
  padding: 1rem 2rem;
  font-weight: 600;
}

.grid-container {
  padding: 0 1.5rem;
}

.controls {
  display: flex;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey);

  app-pills {
    flex: auto;
  }
}
