.mat-dialog-title {
  text-align: center;
}

.mat-dialog-content {
  p {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
}

.content-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  .text {
    padding-left: 1rem;
  }

  .chip {
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;
    }
  }

  .mat-chip.mat-standard-chip::after {
    background-color: transparent !important;
  }

  .right {
    width: 60%;
    margin-left: 30px;
  }
}
