<div class="wrapper">
  <div class="content">
    <ul class="list" *ngIf="notificationData.length > 0">
      <ng-container *ngFor="let notification of notificationData">
        <li class="list-item">
          <a
            mat-menu-item
            routerLink="{{ '//' + notification.link.routerLink }}"
            [queryParams]="{ id: notification.link.id }"
            class="link"
          >
            {{ notification.message }}
          </a>
        </li>
        <mat-divider></mat-divider>
      </ng-container>
    </ul>
    <p class="info-text" *ngIf="notificationData.length === 0">No new notifications</p>
  </div>
</div>
