<header>
  <div class="title">
    Solution in edit mode
  </div>
</header>
<div>
  <div class="alert" *ngIf="disableEdit">
    To edit this fields all resouces created for it must be removed from the respective Cloud Service Provider
  </div>
  <form [formGroup]="solutionForm" (ngSubmit)="onSubmit(solutionForm.value)">
    <div class="details-container">
      <p>
        <mat-form-field class="small-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            required
            [readonly]="disableEdit"
            type="text"
            maxlength="50"
            formControlName="name"
            placeholder="name"
            name="name"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            required
            [readonly]="disableEdit"
            #desctext
            maxlength="200"
            formControlName="description"
            placeholder="Type your description here..."
          ></textarea>
          <mat-hint align="end">{{ desctext.value.length }} / 200</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="small-width" appearance="outline">
          <mat-label>Business unit</mat-label>
          <mat-select required [disabled]="disableEdit" formControlName="businessUnit">
            <mat-option *ngFor="let item of businessUnitList" [value]="item.key"> {{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="small-width" appearance="outline">
          <mat-label>Cost centre</mat-label>
          <input
            matInput
            required
            [readonly]="disableEdit"
            type="text"
            maxlength="50"
            formControlName="costCentre"
            placeholder="XXX-123-456-YYY"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CI (Continuous intergration service)</mat-label>
          <mat-select required [disabled]="disableEdit" formControlName="ci">
            <mat-option *ngFor="let item of ciList" [value]="item.key">{{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Source Control</mat-label>
          <mat-select required [disabled]="disableEdit" formControlName="sourceControl">
            <mat-option *ngFor="let item of sourceControlList" [value]="item.key">{{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CD (Continuous deployment)</mat-label>
          <mat-select required [disabled]="disableEdit" formControlName="cd">
            <mat-option *ngFor="let item of cdList" [value]="item.key">{{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <span class="mat-subheading-1">Available environments</span>
        <mat-selection-list [disabled]="disableEdit" formControlName="environments">
          <mat-list-option *ngFor="let item of environmentList" [value]="item.key">
            {{ item.value }}
          </mat-list-option>
        </mat-selection-list>
      </p>

      <div class="footer-container">
        <button mat-button color="primary" (click)="cancel()">
          Cancel
        </button>
        <button mat-button [disabled]="disableEdit" color="primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>
