<header>
  <app-breadcrumbs [title]="'Edit solution'"> </app-breadcrumbs>
</header>
<main>
  <div class="alert" *ngIf="disableEdit">
    To edit this fields all resouces created for it must be removed from the respective Cloud Service Provider
  </div>
  <form [formGroup]="solutionForm" (ngSubmit)="onSubmit(solutionForm.value)">
    <div class="part-title">Details</div>
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          required
          [readonly]="disableEdit"
          type="text"
          maxlength="50"
          formControlName="name"
          placeholder="name"
          name="name"
        />
        <mat-error *ngIf="f.name.errors?.required"> Name is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          required
          [readonly]="disableEdit"
          #desctext
          maxlength="200"
          formControlName="description"
          placeholder="Type your description here..."
        ></textarea>
        <mat-hint align="end">{{ desctext.value.length }} / 200</mat-hint>
        <mat-error *ngIf="f.description.errors?.required"> Description is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Business unit</mat-label>
        <mat-select required [disabled]="disableEdit" formControlName="businessUnitId">
          <mat-option *ngFor="let item of businessUnitList" [value]="item.key"> {{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.businessUnitId.errors?.required"> Business unit is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Team</mat-label>
        <mat-select required formControlName="teamId">
          <mat-option *ngFor="let item of teamList" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
        <mat-error *ngIf="f.teamId.errors?.required"> Team is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Cost centre</mat-label>
        <input
          matInput
          required
          [readonly]="disableEdit"
          type="text"
          maxlength="50"
          formControlName="costCentre"
          placeholder="XXX-123-456-YYY"
        />
        <mat-error *ngIf="f.costCentre.errors?.required"> Cost centre is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>
    <div class="part-title">Workspace</div>
    <p>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>CI (Continuous intergration service)</mat-label>
        <mat-select required [disabled]="disableEdit" formControlName="ciId">
          <mat-option *ngFor="let item of ciList" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.ciId.errors?.required">
          Continuous integration service is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Source Control</mat-label>
        <mat-select required [disabled]="disableEdit" formControlName="sourceControlId">
          <mat-option *ngFor="let item of sourceControlList" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.sourceControlId.errors?.required"> Source control is <strong>required</strong> </mat-error>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>CD (Continuous deployment)</mat-label>
        <mat-select required [disabled]="disableEdit" formControlName="cdId">
          <mat-option *ngFor="let item of cdList" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="f.cdId.errors?.required"> Continuous deployment is <strong>required</strong> </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-card>
        <span class="mat-subheading-1">Available environments</span>
        <mat-divider></mat-divider>
        <mat-selection-list formControlName="environments">
          <mat-list-option *ngFor="let item of environmentList" [value]="item.key">
            {{ item.value }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </p>

    <div class="app-bottom-action right">
      <button mat-button [disabled]="disableEdit" color="primary" type="submit">
        Update
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </form>
</main>

<div class="app-bottom-action left">
  <button mat-button color="primary" (click)="cancel()">
    <mat-icon class="app-cancel-icon">cancel</mat-icon>
    Cancel
  </button>
</div>
<div class="app-bottom-background"></div>
