:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: 'SF Pro Display', Roboto, 'Helvetica Neue', sans-serif;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background-color: var(--whitish);
}

header .title {
  border-left: 1px solid var(--grey);
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.alert {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
  text-align: center;
  padding-top: 0.5rem;
  height: 2rem;
  background-color: #ffe0b2;
}

.details-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: calc(100vh - 11rem);
}

.details-container p {
  width: 100%;
}

.details-container p .mat-form-field {
  width: 100%;
  font-size: 14px;
}

.details-container p .mat-form-field.small-width {
  width: 30%;
  margin-right: 2rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: left;
      align-content: left;
}

/* Workspace view */
.workspace-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 90%;
  height: calc(100vh - 11rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.workspace-container p {
  width: 100%;
}

.workspace-container p .mat-form-field {
  width: 30%;
  margin: 1rem;
}

.environment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.workspace-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: left;
      align-content: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
}

.workspace-form-container p {
  width: 100%;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
  margin-bottom: 2rem;
  float: right;
}

.footer-container.details-footer-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-container button {
  font-weight: 600;
  font-size: 16px;
}
/*# sourceMappingURL=solutions-edit.component.css.map */