<header>
  <div>
    <a mat-button color="primary" routerLink="/mission-control/solutions"> <mat-icon>chevron_left</mat-icon> Back </a>
  </div>
  <div class="title">
    Solution in edit mode
  </div>
</header>
<div>
  <div class="alert" *ngIf="disableEdit">
    To edit this fields all resouces created for it must be removed from the respective Cloud Service Provider
  </div>
  <form [formGroup]="solutionForm" (ngSubmit)="onSubmit(solutionForm.value)">
    <div class="details-container">
      <div class="part-title">Details</div>
      <p>
        <mat-form-field class="small-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            required
            [readonly]="disableEdit"
            type="text"
            maxlength="50"
            formControlName="name"
            placeholder="name"
            name="name"
          />
          <mat-error *ngIf="f.name.errors?.required"> Name is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            required
            [readonly]="disableEdit"
            #desctext
            maxlength="200"
            formControlName="description"
            placeholder="Type your description here..."
          ></textarea>
          <mat-hint align="end">{{ desctext.value.length }} / 200</mat-hint>
          <mat-error *ngIf="f.description.errors?.required"> Description is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="small-width" appearance="outline">
          <mat-label>Business unit</mat-label>
          <mat-select required [disabled]="disableEdit" formControlName="businessUnit">
            <mat-option *ngFor="let item of businessUnitList" [value]="item.key"> {{ item.value }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.businessUnit.errors?.required"> Business unit is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-form-field class="small-width" appearance="outline">
          <mat-label>Cost centre</mat-label>
          <input
            matInput
            required
            [readonly]="disableEdit"
            type="text"
            maxlength="50"
            formControlName="costCentre"
            placeholder="XXX-123-456-YYY"
          />
          <mat-error *ngIf="f.costCentre.errors?.required"> Cost centre is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>
      <div class="part-title">Workspace</div>
      <div class="workspace-container">
        <p>
          <mat-form-field class="small-width" appearance="outline">
            <mat-label>CI (Continuous intergration service)</mat-label>
            <mat-select required [disabled]="disableEdit" formControlName="ci">
              <mat-option *ngFor="let item of ciList" [value]="item.key">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="f.ci.errors?.required">
              Continuous integration service is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="small-width" appearance="outline">
            <mat-label>Source Control</mat-label>
            <mat-select required [disabled]="disableEdit" formControlName="sourceControl">
              <mat-option *ngFor="let item of sourceControlList" [value]="item.key">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="f.sourceControl.errors?.required">
              Source control is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="small-width" appearance="outline">
            <mat-label>CD (Continuous deployment)</mat-label>
            <mat-select required [disabled]="disableEdit" formControlName="cd">
              <mat-option *ngFor="let item of cdList" [value]="item.key">{{ item.value }}</mat-option>
            </mat-select>
            <mat-error *ngIf="f.cd.errors?.required"> Continuous deployment is <strong>required</strong> </mat-error>
          </mat-form-field>
        </p>
      </div>
      <mat-card>
        <span class="mat-subheading-1">Available environments</span>
        <mat-divider></mat-divider>
        <mat-selection-list formControlName="environments">
          <mat-list-option *ngFor="let item of environmentList" [value]="item.key">
            {{ item.value }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>

      <div class="footer-container">
        <button mat-button color="primary" (click)="cancel()">
          <mat-icon class="icon-size">cancel</mat-icon> Cancel
        </button>
        <button mat-button [disabled]="disableEdit" color="primary" type="submit">
          Update
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
