<mat-toolbar color="primary" *ngIf="(isAuthenticated$ | async) === true">
    <mat-toolbar-row >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Tranquility Base</h1>
      <span class="menu-spacer"></span>
      <div class="row">
        <a mat-button [routerLink]="'/search'" matTooltip="Search" aria-label="Search"><mat-icon>search</mat-icon></a>
        <a mat-button [routerLink]="'/add'" matTooltip="Add" aria-label="Add"><mat-icon>add</mat-icon></a>
        <span class="spacer"></span>
        <button mat-button matTooltip="Your messages" aria-label="Your messages" [matMenuTriggerFor]="beforeMenu"><mat-icon>question_answer</mat-icon></button>
<mat-menu class="btnMenu" #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Welcome to TB!</button>
  <button mat-menu-item>Here's a basic FAQ</button>
</mat-menu>
        <a mat-button [routerLink]="'/share'" matTooltip="Search" aria-label="Share"><mat-icon>share</mat-icon></a>
        <button mat-button matTooltip="Your notifications" aria-label="Your notifications" [matMenuTriggerFor]="notifyMenu"><mat-icon>notifications</mat-icon></button>
        <mat-menu class="btnMenu" #notifyMenu="matMenu" xPosition="before">
          <p mat-menu-item>Clean! No new notifications.</p>
        </mat-menu>
        <a mat-button [routerLink]="'/apps'" matTooltip="More apps" aria-label="Apps"><mat-icon>apps</mat-icon></a>
        <a routerlink="/login" routerlinkactive="active" ng-reflect-router-link="/login" ng-reflect-router-link-active="active" href="/login" matTooltip="Your account" aria-label="Your account"><span class="user-initials">RM</span></a>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <div>
            <div class="section-header"><img src="assets/icons/tb_rocket.svg" class="rocket"> Mission control</div>
            <a mat-list-item routerLink="/mission-control/solutions" [queryParams]="{ groupSwitch: 'Favourites' }" routerLinkActive="active">
                <mat-icon>filter_none</mat-icon>
                Solutions
            </a>
            <a mat-list-item routerLink="/mission-control/activator-store" [queryParams]="{ categorySwitch: 'Category' }" routerLinkActive="active">
                <mat-icon>storefront</mat-icon>
                Activator store
            </a>
        </div>
        
        <div *ngIf="userIsAdmin$ | async">
            <div class="section-header">Administration menu</div>
            <a mat-list-item routerLink="/administration/landing-zone" routerLinkActive="active">
                <mat-icon>account_tree</mat-icon>
                Landing Zone
            </a>
            <a mat-list-item>
                <mat-icon>storage</mat-icon> Datacenter</a>
            <a mat-list-item>
                <mat-icon>person</mat-icon> Users</a>
            <a mat-list-item>
                <mat-icon>group</mat-icon> Teams</a>
            <a mat-list-item>
                <mat-icon>settings</mat-icon> Settings</a>
        </div> 
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: calc(89vh)">
        <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

