.mat-elevation-z8 {
  margin: 1rem;
  margin-top: 0;
  overflow: auto;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 7px 0 0;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

.actions-top-bar {
  display: flex;
  margin: 1rem;
}

.action-button {
  min-width: fit-content;
}

.mat-row:hover {
  background-color: var(--active-grey-background);
}

.nowrap {
  white-space: nowrap;
}

.mat-chip {
  padding: 0.2rem 0.5rem;
  min-height: 1.5rem;
  border-radius: 0.2rem;
}

.action-needed-icon {
  position: absolute;
  font-size: 10px;
  left: 20px;
}
