<mat-card>
  <mat-card-header [class.is-deployed]="deployed$ | async">
    <mat-card-title>
      <div class="card-actions-bar">
        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item routerLink="view">View</a>
        </mat-menu>
      </div>
      {{ wanVpn.vpn.projectName }}
    </mat-card-title>
    <mat-card-subtitle>{{ wanVpn.vpn.externalVpnGateway }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!(deploymentInProgress$ | async)">
    <div class="mat-body-strong">Details</div>
    <mat-list dense class="description-list">
      <mat-list-item>
        <div class="mat-body">Subnet Name</div>
        <mat-chip-list>
          <mat-chip>{{ wanVpn.vpn.subnetMode }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">GCP VPC Subnet</div>
        <mat-chip-list>
          <mat-chip>{{ wanVpn.googleSession.primaryGcpVpcSubnet }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Peer IP</div>
        <mat-chip-list>
          <mat-chip>{{ wanVpn.onPremiseSession.primaryPeerIp }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">External VPN gateway</div>
        <mat-chip-list>
          <mat-chip>{{ wanVpn.vpn.externalVpnGateway }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">VPN Type</div>
        <mat-chip-list>
          <mat-chip>High Availability</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-content *ngIf="deploymentInProgress$ | async" class="spinner">
    <div class="mat-body">Deployment</div>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      diameter="200"
      strokeWidth="5"
      [value]="percentage$ | async"
    >
    </mat-progress-spinner>
  </mat-card-content>

  <mat-card-footer *ngIf="!active">
    <div>
      <div class="mat-body-strong">Description</div>
      <div class="mat-caption">{{ wanVpn.vpn.description }}</div>
    </div>
  </mat-card-footer>
  <mat-card-actions *ngIf="active">
    <button
      [disabled]="(deployed$ | async) || (deploymentInProgress$ | async)"
      mat-button
      color="primary"
      (click)="deploy()"
    >
      Deploy <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
