<header>
  <app-breadcrumbs
    [cancelActive]="true"
    [steps]="['Create new application', 'Client Portal']"
    [isActive]="true">
  </app-breadcrumbs>
  <app-progress
    [steps]="['Select activator', 'Input app details']"
    [current]="1">
  </app-progress>
</header>
<div class="sub-header">
  Activator store
</div>
<app-controls [isAll]="(current$ | async) === 'All'"></app-controls>
<app-all *ngIf="(current$ | async) === 'All'"></app-all>
<app-categories *ngIf="(current$ | async) === 'Category'"></app-categories>
