<header>
  <app-breadcrumbs [cancelActive]="true" [steps]="['Create new application']">
  </app-breadcrumbs>
  <app-progress [steps]="['Select activator', 'Input app details']" [current]="progress$ | async"> </app-progress>
</header>
<div *ngIf="isAlmostReady$ | async" class="application almost-ready">
  <app-icon icon="check_simple"></app-icon>
  <p>
    Your application is being deployed.
    <span>| We will notify you when it’s complete.</span>
  </p>
  <div class="dismiss" (click)="DismissAlmostReady()">Dismiss</div>
</div>
<div *ngIf="isReady$ | async" class="application ready">
  <app-icon icon="check_simple"></app-icon>
  <p>
    New application deployed.
  </p>
  <div class="dismiss" (click)="DismissReady()">Dismiss</div>
</div>
<router-outlet></router-outlet>
