#loginText {
  font-size: 28px;
  font-weight: 1000;
  text-align: center;
  font-family: SF Compact Display;

  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 16px;

  margin-top: 3rem;
  margin-bottom: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-failure {
  font-family: SF Compact Display;
  font-style: normal;
  font-size: 0.9rem;
  color: rgb(232, 93, 74);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

#loginForm {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-flow: column;
}

.login-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3rem;

  .options {
    color: grey;
    font-family: SF Compact Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }

  .create-new {
    font-family: SF Compact Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */

    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    /* TBP */
    color: var(--primary-color);
  }
}

.tb-logo {
  order: 0;
}

.login-btn {
  float: right;
  font-size: 1rem;
}

.mat-form-field {
  margin-bottom: 0.5rem;
}
