.controls-activator-home {
  display: flex;
  margin: 1rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey);
  justify-content: space-between;
  app-pills {
    flex: auto;
  }

  .switches-activator-home {
    display: flex;
    background-color: var(--active-grey-background);
    padding: 0.2rem;
    border-radius: var(--radius);

    button {
      &:not(.mat-primary) {
        background: none;
      }
      margin-right: 5px;
      .count {
        color: var(--grey);
      }
    }
  }
}

header {
  background-color: var(--active-grey-background);
  padding: 0.2rem 1.5rem;
}

.grid-container {
  display: block;
  padding: 0 1.5rem;
}
