<div *ngIf="isSelectedSolution$ | async; else standardHeader">
  <header>
    <app-breadcrumbs
      [steps]="[
        {
          name: 'Solutions',
          link: '/mission-control/solutions'
        },
        {
          name: (selectedSolution$ | async).name,
          link: '/mission-control/solutions/view',
          id: (selectedSolution$ | async).id
        },
        {
          name: 'Provision new activator'
        }
      ]"
    ></app-breadcrumbs>
  </header>
</div>
<ng-template #standardHeader>
  <header>
    <div (click)="showInitialPage()">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
  </header>
</ng-template>

<mat-horizontal-stepper *ngIf="isSelectedSolution$ | async" [linear]="true" #stepper>
  <mat-step [completed]="false" state="done">
    <ng-template matStepLabel>Selection</ng-template>
  </mat-step>
  <mat-step [completed]="false" [editable]="false">
    <ng-template matStepLabel>Details</ng-template>
  </mat-step>
  <mat-step [completed]="false" [editable]="false">
    <ng-template matStepLabel>Review</ng-template>
  </mat-step>

  <ng-template matStepperIcon="edit">
    <mat-icon>file_copy</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="app-progress-item">
    <mat-icon fontSet="material-icons-outlined">file_copy</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<div class="controls-activator-home">
  <app-activator-store-home-list-filter
    class="home-list-filter"
    (filterList)="onFilterListUpdate($event)"
    *ngIf="!(showCategories$ | async)"
  ></app-activator-store-home-list-filter>
  <app-grid-view-switch *ngIf="!(showCategories$ | async)" [gridViewName]="gridViewOptionsName"></app-grid-view-switch>
</div>

<div *ngIf="!(showCategories$ | async); else categoryGrid">
  <app-activator-store-home-grid
    *ngIf="isGridViewEnabled$ | async; else listview"
    class="grid-container"
  ></app-activator-store-home-grid>
  <ng-template #listview>
    <app-activator-store-home-list></app-activator-store-home-list>
  </ng-template>
</div>
<ng-template #categoryGrid>
  <app-activator-store-home-category-grid class="grid-container"></app-activator-store-home-category-grid>
</ng-template>
