<div class="sub-header">
  Activator store
</div>

<div class="controls">
  <app-switches
    [values]="values_controls"
    [current]="current$ | async"
    (onValueChanged)="onSwitch($event)"
  ></app-switches>
  <div class="flex-filler" *ngIf="(current$ | async) !== 'All'"></div>
  <app-pills
    [pills]="['Type', 'Availability', 'Environment']"
    class="separated"
    *ngIf="(current$ | async) === 'All'"
  ></app-pills>
  <app-search class="separated"></app-search>
  <app-grid-view-switch class="separated"></app-grid-view-switch>
</div>

<div *ngIf="(current$ | async) === 'All'" class="grid-container">
  <app-activator-store-home-grid [activators$]="activators$"> </app-activator-store-home-grid>
</div>

<div class="dashboard-grid" *ngIf="(current$ | async) === 'Category'">
  <div class="category-component">
    <app-icon icon="category"></app-icon>
    <div class="name" *ngFor="let category of categories">{{ category }}</div>
  </div>
</div>
