<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="card-header">
        <mat-chip [color]="statusColor" selected>{{ activator.status }}</mat-chip>
        <mat-chip color="warn" selected *ngIf="activator.accessRequestedBy">Access Requested</mat-chip>

        <div class="card-actions-bar">
          <button mat-icon-button>
            <mat-icon>star_border</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <a mat-menu-item routerLink="/mission-control/activator-store/view" [queryParams]="{ id: activator.id }"
              >View</a
            >
            <button mat-menu-item *ngIf="isLocked && !(userIsAdmin$ | async)" (click)="requestAccess()">
              Request Access
            </button>
            <button mat-menu-item *ngIf="isLocked && (userIsAdmin$ | async)" (click)="grantAccess()">
              Grant Access
            </button>
            <button mat-menu-item *ngIf="isAvailable && (userIsAdmin$ | async)" (click)="setLocked()">
              Lock
            </button>
            <button mat-menu-item *ngIf="(isAvailable || isLocked) && (userIsAdmin$ | async)" (click)="setDeprecated()">
              Deprecate
            </button>
            <button mat-menu-item *ngIf="isDeprecated && (userIsAdmin$ | async)" (click)="setLocked()">
              Undeprecate
            </button>
          </mat-menu>
        </div>
      </div>
      {{ activator.name }}
    </mat-card-title>
    <mat-card-subtitle>{{ activator.category }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-body-strong">Details</div>
    <mat-list dense class="description-list">
      <mat-list-item>
        <div class="mat-body">Data sensitivity</div>
        <mat-chip-list>
          <mat-chip [color]="sensitivityColor" selected>{{ activator.sensitivity }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Type</div>
        <mat-chip-list>
          <mat-chip>{{ activator.type }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Environments</div>
        <mat-chip-list>
          <mat-chip>{{ activator.envs[0] }}</mat-chip>
          <mat-chip *ngIf="activator.envs.length > 1">+{{ activator.envs.length - 1 }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Cloud platform</div>
        <mat-chip-list>
          <mat-chip>{{ activator.platforms[0] }}</mat-chip>
          <mat-chip *ngIf="activator.platforms.length > 1">+{{ activator.platforms.length - 1 }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Last updated</div>
        <mat-chip-list>
          <mat-chip>{{ lastUpdated | date }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-footer *ngIf="!active">
    <div>
      <div class="mat-body-strong">Description</div>
      <div class="mat-caption">{{ activator.description }}</div>
    </div>
  </mat-card-footer>
  <mat-card-actions *ngIf="active">
    <a mat-button routerLink="/mission-control/activator-store/view" [queryParams]="{ id: activator.id }">
      View
    </a>
    <a
      *ngIf="!(userIsAdmin$ | async)"
      mat-button
      color="primary"
      routerLink="/mission-control/activator-store/create-app"
      [queryParams]="{ id: activator.id }"
    >
      <div class="mat-button-text">
        Add to Solution
      </div>
      <mat-icon>chevron_right</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
