<div class="sub-header">
  Activator store
</div>
<app-controls [isAll]="(current$ | async) === 'All'"></app-controls>
<div *ngIf="(current$ | async) === 'All'" class="grid-container">
  <mat-grid-list [cols]="gridCols$ | async" rowHeight="420px">
    <mat-grid-tile *ngFor="let activator of activators$ | async" colspan="1" rowspan="1">
      <app-activator-card [activator]="activator"></app-activator-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-categories class="dashboard-grid" *ngIf="(current$ | async) === 'Category'"></app-categories>
