<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="card-actions-bar">
        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item routerLink="view" [queryParams]="{ id: solution.id, categorySwitch: 'Applications' }">
            View
          </a>
          <a mat-menu-item routerLink="edit" [queryParams]="{ id: solution.id }">Edit</a>
        </mat-menu>
      </div>
      {{ solution.name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="!isDeploymentInProgress">
    <div class="mat-body-strong">Details</div>
    <mat-list dense class="description-list">
      <mat-list-item>
        <div class="mat-body">ID</div>
        <mat-chip-list>
          <mat-chip>{{ solution.id }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Deployment state</div>
        <mat-chip
          *ngIf="solution.deploymentState; else notDeployed"
          class="mat-standard-chip"
          [color]="deploymentStateColor"
          selected
          >{{ solution.deploymentState | titlecase }}</mat-chip
        >
        <ng-template #notDeployed>
          <mat-chip>
            Not Deployed
          </mat-chip>
        </ng-template>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Applications</div>
        <mat-chip-list>
          <mat-chip>{{ solution.applications.length }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Team</div>
        <mat-chip-list>
          <mat-chip>{{ solution.team ? solution.team.name : 'N/A' }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body">Last updated</div>
        <mat-chip-list>
          <mat-chip>{{ solution.lastUpdated | date }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-content *ngIf="isDeploymentInProgress" class="spinner">
    <div class="mat-body">
      <mat-chip
        *ngIf="solution.deploymentState; else notDeployed"
        class="mat-standard-chip"
        [color]="deploymentStateColor"
        selected
        >{{ solution.deploymentState | titlecase }}</mat-chip
      >
      <ng-template #notDeployed>
        <mat-chip>
          Not Deployed
        </mat-chip>
      </ng-template>
    </div>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="150" strokeWidth="5"> </mat-progress-spinner>
  </mat-card-content>

  <mat-card-footer *ngIf="!active">
    <div>
      <div class="mat-body-strong">Description</div>
      <div class="mat-caption">{{ solution.description }}</div>
    </div>
  </mat-card-footer>
  <mat-card-actions *ngIf="active">
    <a mat-button routerLink="view" [queryParams]="{ id: solution.id }">
      View
    </a>
    <button
      [disabled]="isDeploymentStateSuccess || isDeploymentInProgress"
      mat-button
      color="primary"
      (click)="deploy(); clicked = true"
    >
      <div class="mat-button-text">
        Deploy
      </div>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
