<header>
  <app-breadcrumbs> </app-breadcrumbs>
</header>
<div class="select-bar">
  <app-users-home-filter class="home-list-filter"></app-users-home-filter>
  <app-grid-view-switch class="grid-view-switch" [gridViewName]="gridViewOptionsName"></app-grid-view-switch>
</div>
<app-users-home-grid
  *ngIf="isGridViewEnabled$ | async; else listview"
  [users$]="users$"
  [isLoading]="(getUsersStatus$ | async).loading"
></app-users-home-grid>
<ng-template #listview>
  <app-users-home-list [users$]="users$" [isLoading]="(getUsersStatus$ | async).loading"></app-users-home-list>
</ng-template>
