<div class="grid-container user-grid-container">
  <mat-grid-list
    [cols]="(layout$ | async).gridCols"
    [rowHeight]="(layout$ | async).userGridItemHeight"
    gutterSize="24px"
  >
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button class="create-new-button" color="primary" (click)="createNewBusinessUnit()">
        <mat-icon>add</mat-icon>Create new business unit
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let businessUnit of businessUnitList$ | async" colspan="1" rowspan="1">
      <app-business-unit-home-grid-card [businessUnit]="businessUnit"></app-business-unit-home-grid-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
