<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1><img src="assets/icons/tb_rocket.svg" class="rocket" alt="TB_logo" /> Tranquility Base</h1>
    <span class="menu-spacer"></span>
    <div class="row">
      <button mat-button matTooltip="Search" aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-button matTooltip="Add" aria-label="Add" [matMenuTriggerFor]="addMenu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #addMenu="matMenu">
        <button mat-flat-button (click)="createNewSolution()">
          Create new solution
        </button>
        <button *ngIf="userIsAdmin$ | async" mat-flat-button (click)="createNewActivator()">
          Add new activator
        </button>
        <button *ngIf="userIsAdmin$ | async" mat-flat-button (click)="createNewUser()">
          Create new user
        </button>
        <button *ngIf="userIsAdmin$ | async" mat-flat-button (click)="createNewTeam()">
          Create new team
        </button>
      </mat-menu>

      <span class="spacer"></span>

      <a
        mat-button
        matTooltip="TB channel"
        aria-label="TB channel"
        href="https://tranquilitybasegroup.slack.com/"
        target="_blank"
      >
        <img src="assets/icons/slack.svg" height="24" width="24" alt="Slack" />
      </a>

      <button mat-button matTooltip="Your messages" aria-label="Your messages">
        <mat-icon>question_answer</mat-icon>
      </button>

      <button mat-button matTooltip="Share" aria-label="Share">
        <mat-icon>share</mat-icon>
      </button>

      <a mat-button matTooltip="Your notifications" aria-label="Your notifications" [matMenuTriggerFor]="note">
        <mat-icon [matBadge]="(notificationMetaData$ | async).count || ''" matBadgeColor="warn">
          notifications
        </mat-icon>
      </a>

      <mat-menu #note="matMenu" xPosition="before" class="notifications">
        <app-notifications></app-notifications>
      </mat-menu>

      <a mat-button [routerLink]="'/apps'" matTooltip="More apps" aria-label="Apps">
        <mat-icon>apps</mat-icon>
      </a>

      <a mat-button [matMenuTriggerFor]="menu" matTooltip="Your account" aria-label="Your account">
        <span class="user-initials">{{ userInitials$ | async }}</span>
      </a>
      <mat-menu #menu="matMenu" xPosition="before">
        <a mat-menu-item> <mat-icon>account_circle</mat-icon>Account </a>
        <a mat-menu-item> <mat-icon>help</mat-icon>Help me </a>
        <button mat-menu-item (click)="logout()"><mat-icon>run_circle</mat-icon>Log out</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav mode="side" [opened]="isExpanded">
    <mat-nav-list>
      <div>
        <div class="section-header" *ngIf="isExpanded">Mission control</div>
        <a
          mat-list-item
          routerLink="/home"
          [queryParams]="{ isActive: 'true' }"
          [matTooltip]="!isExpanded ? 'Solutions' : null"
          matTooltipPosition="after"
          [class.active]="isLinkActive('/home')"
        >
          <mat-icon>home</mat-icon>
          <span *ngIf="isExpanded">Home</span>
        </a>
        <a
          mat-list-item
          routerLink="/mission-control/solutions"
          [queryParams]="{ isActive: 'true' }"
          [matTooltip]="!isExpanded ? 'Solutions' : null"
          matTooltipPosition="after"
          [class.active]="isLinkActive('/mission-control/solutions')"
        >
          <mat-icon>filter_none</mat-icon>
          <span *ngIf="isExpanded"> Solutions</span>
        </a>
        <a
          mat-list-item
          routerLink="/mission-control/activator-store"
          [queryParams]="{ showCategories: 'true' }"
          [class.active]="isLinkActive('/mission-control/activator-store')"
          [matTooltip]="!isExpanded ? 'Activator store' : null"
          matTooltipPosition="after"
        >
          <mat-icon>storefront</mat-icon>
          <span *ngIf="isExpanded"> Activator store</span>
        </a>
      </div>
      <mat-divider *ngIf="!isExpanded" class="miniDrawerBr"></mat-divider>
      <div class="section-header" *ngIf="isExpanded">Administration menu</div>
      <div *ngIf="userIsAdmin$ | async">
        <a
          mat-list-item
          routerLink="/administration/landing-zone"
          [class.active]="isLinkActive('/administration/landing-zone')"
          [matTooltip]="!isExpanded ? 'Landing Zone' : null"
          matTooltipPosition="after"
        >
          <mat-icon>account_tree</mat-icon>
          <span *ngIf="isExpanded"> Landing Zone</span>
        </a>
        <a
          mat-list-item
          routerLink="/administration/shared-services"
          [class.active]="isLinkActive('/administration/shared-services')"
          [matTooltip]="!isExpanded ? 'Shared Services' : null"
          matTooltipPosition="after"
        >
          <mat-icon>storage</mat-icon> <span *ngIf="isExpanded"> Shared Services</span>
        </a>
      </div>
      <a
        mat-list-item
        routerLink="/administration/users"
        [queryParams]="{ groupSwitch: 'Actives' }"
        [class.active]="isLinkActive('/administration/users')"
        [matTooltip]="!isExpanded ? 'Users' : null"
        matTooltipPosition="after"
      >
        <mat-icon>person</mat-icon> <span *ngIf="isExpanded"> Users</span>
      </a>
      <a
        mat-list-item
        routerLink="/administration/teams"
        [queryParams]="{ groupSwitch: 'Actives' }"
        [class.active]="isLinkActive('/administration/teams')"
        [matTooltip]="!isExpanded ? 'Teams' : null"
        matTooltipPosition="after"
      >
        <mat-icon>group</mat-icon>
        <span *ngIf="isExpanded"> Teams</span>
      </a>
      <a
        *ngIf="userIsAdmin$ | async"
        mat-list-item
        routerLink="/administration/business-unit"
        [class.active]="isLinkActive('/administration/business-unit')"
        [matTooltip]="!isExpanded ? 'Business unit' : null"
        matTooltipPosition="after"
      >
        <mat-icon>business</mat-icon> <span *ngIf="isExpanded">Business Units</span>
      </a>
      <a
        *ngIf="userIsAdmin$ | async"
        mat-list-item
        routerLink="/administration/settings"
        [class.active]="isLinkActive('/administration/settings')"
        [matTooltip]="!isExpanded ? 'Settings' : null"
        matTooltipPosition="after"
      >
        <mat-icon>settings</mat-icon> <span *ngIf="isExpanded"> Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngClass]="isExpanded == false ? 'smallDrawer' : null">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
