:host {
  display: flex;
  background-color: var(--active-grey-background);
  padding: 0.2rem;
  border-radius: var(--radius);
}

.switch-button {
  flex: auto;
  font-size: 0.875rem;

  &.active {
    background-color: var(--primary-color);
    color: var(--white);
  }
}

.count {
  color: var(--grey);
}
