.filters-row {
  .filters {
    .count {
      color: var(--grey);
    }

    .mat-button-toggle-group {
      width: 100%;
      max-width: 60em;
    }

    // .mat-button-toggle {
    // width: 25%;
    // }
  }

  .mat-divider {
    margin-top: 1.5rem;
  }
}
