<div class="filters-row">
  <div class="filters">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" disabled>
      <mat-button-toggle (click)="setFilter('All')" value="All" checked>All ({{ filterAllLength }})</mat-button-toggle>
      <mat-button-toggle (click)="setFilter('Completed')" value="Completed">
        Completed ({{ filterCompletedLength }})
      </mat-button-toggle>
      <mat-button-toggle (click)="setFilter('InProgress')" value="InProgress">
        In Progress ({{ filterInProgressLength }})
      </mat-button-toggle>
      <mat-button-toggle (click)="setFilter('Locked')" value="Locked">
        Locked ({{ filterLockedLength }})
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-divider></mat-divider>
</div>
<div *ngIf="(getActivatorCategoriesStatus$ | async).loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<mat-grid-list
  *ngIf="!(getActivatorCategoriesStatus$ | async).loading"
  [cols]="(layout$ | async).gridCols"
  rowHeight="150px"
  gutterSize="24px"
>
  <mat-grid-tile *ngFor="let item of categories$ | async" colspan="1" rowspan="1">
    <button mat-stroked-button class="category-button" (click)="nagivate(item.category)">
      <div class="category border"></div>
      <div>
        <div>
          <mat-icon fontSet="material-icons-outlined">file_copy</mat-icon>
        </div>
        {{ item.category }}
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>
