.category-button {
  font-family: 'SF Pro Display', Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 22px;
  padding: 0;
  .category {
    &.border {
      position: absolute;
      top: 0;
      border-left: 20px solid var(--middle-light-grey);
      border-radius: 10px 0 0 10px;
      height: 100%;
    }
  }
}
