<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Overview">
    <app-activator-store-view-overview></app-activator-store-view-overview>
  </mat-tab>
  <mat-tab label="Audit history">
    <app-activator-store-view-audit-history></app-activator-store-view-audit-history>
  </mat-tab>
  <mat-tab label="Version history">
    <app-activator-store-view-version-history></app-activator-store-view-version-history>
  </mat-tab>
  <mat-tab label="Users">
    <app-activator-store-view-users></app-activator-store-view-users>
  </mat-tab>
  <mat-tab label="Billing">
    <app-activator-store-view-billing></app-activator-store-view-billing>
  </mat-tab>
</mat-tab-group>
