<div class="activ-sub-header">
  <div class="flex-group">
    <a
      class="button text-only left activ-back-btn"
      routerLink="/mission-control/activator-store"
      [queryParams]="{ categorySwitch: 'Category' }"
    >
      Back
    </a>
    <div class="app-name separated">{{ activator.name }}</div>
    <div class="separated">
      <div class="badge" [class.black]="activator.status == 'Locked'" [class.yellow]="activator.status == 'Deprecated'">
        {{ activator.status }}
      </div>
    </div>
    <div class="badge grey time-badge">
      <div>{{ lastUpdated | date: 'hh:mma' }}</div>
      <div class="separated">{{ lastUpdated | date: 'dd MMM yyyy' }}</div>
    </div>
    <div class="separated tier">
      <div class="tier-icon"></div>
      Eagle tier 2 subscription
    </div>
  </div>
  <div class="flex-group buttons">
    <button
      mat-raised-button
      color="primary"
      *ngIf="isLocked && !(userIsAdmin$ | async)"
      (click)="requestAccess()"
      class="button-policy"
    >
      Request Access
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isLocked && (userIsAdmin$ | async)"
      (click)="grantAccess()"
      class="button-policy"
    >
      Grant Access
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isAvailable && (userIsAdmin$ | async)"
      (click)="setLocked()"
      class="button-policy"
    >
      Lock
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="(isAvailable || isLocked) && (userIsAdmin$ | async)"
      (click)="setDeprecated()"
      class="button-policy"
    >
      Deprecate
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isDeprecated && (userIsAdmin$ | async)"
      (click)="setLocked()"
      class="button-policy"
    >
      Undeprecate
    </button>
  </div>
</div>
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Overview">
    <app-activator-store-view-overview></app-activator-store-view-overview>
  </mat-tab>
  <mat-tab label="Deployments">
    <app-applications-deployments></app-applications-deployments>
  </mat-tab>
  <mat-tab label="Audit history">
    <app-activator-store-view-audit-history></app-activator-store-view-audit-history>
  </mat-tab>
  <mat-tab label="Version history">
    <app-activator-store-view-version-history></app-activator-store-view-version-history>
  </mat-tab>
  <mat-tab label="Users">
    <app-activator-store-view-users></app-activator-store-view-users>
  </mat-tab>
  <mat-tab label="Billing">
    <app-activator-store-view-billing></app-activator-store-view-billing>
  </mat-tab>
</mat-tab-group>

<div class="app-bottom-action right">
  <a mat-button color="primary" routerLink="/mission-control/activator-store/create-app" queryParamsHandling="preserve">
    Add to Solution
    <mat-icon>chevron_right</mat-icon>
  </a>
</div>
<div class="app-bottom-background"></div>
