.activ-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--active-grey-background);
  padding: 0.2rem 1.5rem;
  font-weight: 600;

  .activ-back-btn {
    color: var(--black);
    text-decoration: none;
    font-weight: normal;

    &.left::before {
      border-color: var(--black);
      margin-right: 0.5rem;
    }
  }

  .time-badge,
  .tier {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;

    .tier-icon {
      --line: 0.1rem solid var(--black);

      width: 1.5rem;
      height: 1rem;
      position: relative;
      border: var(--line);
      border-radius: 20%;
      margin-right: 0.5rem;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        border-top: var(--line);
      }
    }
  }

  .flex-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .button-policy {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.mat-tab-group {
  margin: 0 1.5rem 5rem 1.5rem;
}

.header-left {
  display: flex;
}

.status-badge {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.mat-chip {
  outline: none;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
}

.bottom-bar-background {
  z-index: 2;
  height: 4.5rem;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--active-grey-background);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.12);
  opacity: 0.8;
}
