<header class="activ-sub-header">
  <app-breadcrumbs [title]="activator.name"> </app-breadcrumbs>
  <div *ngIf="activator.status">
    <div class="badge" [class.black]="activator.status == 'Locked'" [class.yellow]="activator.status == 'Deprecated'">
      {{ activator.status }}
    </div>
  </div>
  <div class="badge grey time-badge">
    <div>{{ lastUpdated | date: 'hh:mma' }}</div>
    <div class="separated">{{ lastUpdated | date: 'dd MMM yyyy' }}</div>
  </div>
  <div class="separated tier">
    <div class="tier-icon"></div>
    Eagle tier 2 subscription
  </div>
</header>
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Overview">
    <app-activator-store-view-overview></app-activator-store-view-overview>
  </mat-tab>
  <mat-tab label="Deployments">
    <app-applications-deployments></app-applications-deployments>
  </mat-tab>
  <mat-tab label="Audit history">
    <app-activator-store-view-audit-history></app-activator-store-view-audit-history>
  </mat-tab>
  <mat-tab label="Version history">
    <app-activator-store-view-version-history></app-activator-store-view-version-history>
  </mat-tab>
  <mat-tab label="Users">
    <app-activator-store-view-users></app-activator-store-view-users>
  </mat-tab>
  <mat-tab label="Billing">
    <app-activator-store-view-billing></app-activator-store-view-billing>
  </mat-tab>
</mat-tab-group>

<div class="app-bottom-action right">
  <a mat-button color="primary" routerLink="/mission-control/activator-store/create-app" queryParamsHandling="preserve">
    Add to Solution
    <mat-icon>chevron_right</mat-icon>
  </a>
</div>
<div class="app-bottom-background"></div>
