<div class="grid-container">
  <div class="spinner-container">
    <mat-spinner *ngIf="(getWanConfigurationsStatus$ | async).loading"></mat-spinner>
  </div>
  <mat-grid-list
    *ngIf="!(getWanConfigurationsStatus$ | async).loading"
    [cols]="(layout$ | async).gridCols"
    rowHeight="420px"
    gutterSize="24px"
  >
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button class="create-new-button" color="primary" (click)="createNewConnection()">
        <mat-icon>add</mat-icon>Create new connection
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let wanVpn of wanConfigurations$ | async" colspan="1" rowspan="1">
      <app-landing-zone-wan-home-vpn-card [wanVpn]="wanVpn"></app-landing-zone-wan-home-vpn-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
