.mat-elevation-z8 {
  margin: 1rem;
  margin-top: 0;
  overflow: auto;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.actions-top-bar {
  display: flex;
  margin-bottom: 0.5rem;
}

.action-button {
  min-width: fit-content;
}

.mat-chip {
  border-radius: 4px;
}
