.mat-dialog-content {
  font-family: 'SF Pro Display';
  height: 70vh;
  width: 70vw;
}

.red-reader {
  color: var(--red) !important;
}

.mcm-msg {
  font-weight: 600;
  font-size: 30px;
  color: var(--light-grey);
  text-shadow: 1px 1px 1px #3d1b3d;
}

.mcm-dsc {
  line-height: 25px;
  text-align: justify;
  text-justify: inter-word;
  width: 35%;
  color: var(--light-grey);
  text-shadow: 1px 1px 1px #3d1b3d;
}

.mcm-link {
  border-radius: 8px;
  font-size: 18px;
  color: #3d1b3d;
  background-color: #fff;
  opacity: 0.9;
  filter: drop-shadow(3px 3px 3px #3d1b3d);
  transform: translateY(0px) scale(1);
  transition-property: filter, transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
  animation: bthGlow 3s linear 0s infinite normal;
}
.mcm-link:hover {
  filter: drop-shadow(6px 6px 6px #3d1b3d);
  transform: translateY(-2px) scale(1.1);
  transition-property: filter, transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}

@keyframes bthGlow {
  0% {
    box-shadow: inset -1px 0px 1px var(--red), inset 1px 0px 1px #ffffff;
  }
  25% {
    box-shadow: inset 0px -1px 1px var(--red), inset 0px 1px 1px #ffffff;
  }
  50% {
    box-shadow: inset 1px 0px 1px var(--red), inset -1px 0px 1px #ffffff;
  }
  75% {
    box-shadow: inset 0px 1px 1px var(--red), inset 0px -1px 1px #ffffff;
  }
  100% {
    box-shadow: inset -1px 0px 1px var(--red), inset 1px 0px 1px #ffffff;
  }
}
