.mat-dialog-content {
  font-family: 'SF Pro Display', monospace;
  height: 70vh;
  width: 70vw;
}

.red-reader {
  color: var(--red) !important;
}

.mcm-msg {
  font-weight: 600;
  user-select: none;
  font-size: 30;
  color: var(--light-grey);
  text-shadow: 1px 1px 1px #3d1b3d;
}

.mat-dialog-actions {
  justify-content: space-between;
}

.mat-checkbox {
  border-radius: 8px;
  font-size: 12px;
  color: #3d1b3d;
  background-color: #fff;
  opacity: 0.9;
  padding: 6px 12px;
  filter: drop-shadow(3px 3px 3px #3d1b3d);
  transform: translateY(0) translateX(0) scale(1);
  transition-property: filter, transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}

.mat-checkbox:hover {
  filter: drop-shadow(6px 6px 6px #3d1b3d);
  transform: translateY(-2px) translateX(8px) scale(1.1);
  transition-property: filter, transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}

.mcm-dsc {
  line-height: 25px;
  user-select: none;
  text-align: justify;
  text-justify: inter-word;
  width: 36%;
  color: var(--light-grey);
  text-shadow: 1px 1px 1px #3d1b3d;
}

.mcm-link {
  border-radius: 8px;
  font-size: 18px;
  color: #3d1b3d;
  background-color: #fff;
  opacity: 0.9;
  filter: drop-shadow(3px 3px 3px #3d1b3d);
  transform: translateY(0) scale(1);
  transition-property: filter, transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
  animation: bthGlow 3s linear 0s infinite normal;
  justify-content: flex-end;
}

.mcm-link:hover {
  filter: drop-shadow(6px 6px 6px #3d1b3d);
  transform: translateY(-2px) scale(1.1);
  transition-property: filter, transform;
  transition-duration: 200ms;
  transition-delay: 5ms;
}

@keyframes bthGlow {
  0% {
    box-shadow: inset -1px 0 1px var(--red), inset 1px 0 1px #fff;
  }

  25% {
    box-shadow: inset 0 -1px 1px var(--red), inset 0 1px 1px #fff;
  }

  50% {
    box-shadow: inset 1px 0 1px var(--red), inset -1px 0 1px #fff;
  }

  75% {
    box-shadow: inset 0 1px 1px var(--red), inset 0 -1px 1px #fff;
  }

  100% {
    box-shadow: inset -1px 0 1px var(--red), inset 1px 0 1px #fff;
  }
}
