<header>
  <app-breadcrumbs></app-breadcrumbs>
  <button mat-raised-button color="primary" class="action-button" (click)="createNewSolution()">
    + Create new solution
  </button>
</header>
<div class="select-bar">
  <app-solutions-home-list-filter
    class="home-list-filter"
    (filterList)="onFilterListUpdate($event)"
  ></app-solutions-home-list-filter>
  <app-grid-view-switch class="grid-view-switch" [gridViewName]="gridViewOptionsName"></app-grid-view-switch>
</div>
<app-solutions-home-grid
  *ngIf="isGridViewEnabled$ | async; else listView"
  [solutions$]="solutions$"
  [isLoading]="(getSolutionsStatus$ | async).loading"
></app-solutions-home-grid>
<ng-template #listView>
  <app-solutions-home-list
    [solutions$]="solutions$"
    [isLoading]="(getSolutionsStatus$ | async).loading"
  ></app-solutions-home-list>
</ng-template>
