<header>
  <div class="title">
    My Team solutions
  </div>
</header>
<div *ngIf="isAlmostReady$ | async" class="solution almost-ready">
  <app-icon icon="check_simple"></app-icon>
  <p>
    Your solution workspace is almost ready.
    <span>| We will notify you when it's complete.</span>
  </p>
  <div class="dismiss" (click)="DismissAlmostReady()">Dismiss</div>
</div>
<div *ngIf="isReady$ | async" class="solution ready">
  <app-icon icon="check_simple"></app-icon>
  <p>
    Solution workspace created.
    <span>| You can now begin to create applications.</span>
  </p>
  <div class="dismiss" (click)="DismissReady()">Dismiss</div>
</div>
<div>
  <app-solution-select [values]="values" (onSelection)="getSolutions($event)"></app-solution-select>
</div>

<app-solutions-home-grid [solutions$]="solutions$"></app-solutions-home-grid>
