:host {
  display: block;
}

header {
  .title {
    border-left: 1px solid var(--grey);
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 800;
  }
  display: flex;
  text-align: center;
  font-family: 'SF Pro Display';
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
    bottom: 1rem;
  }
  background-color: var(--whitish);
}

app-breadcrumbs {
  flex: auto;
}
