<app-icon icon="tb_rocket" size="xl"></app-icon>
<app-icon icon="bell" color="white"></app-icon>
<app-icon icon="activator" color="white"></app-icon>
<app-icon icon="add" color="white"></app-icon>
<app-icon icon="chatbubbles" color="white"></app-icon>
<app-icon icon="cog" color="#00FB50"></app-icon>
<app-icon icon="expand_arrow" size="lg" color="#FF6060"></app-icon>
<app-icon icon="search" color="white"></app-icon>
<app-icon icon="solutions" color="white"></app-icon>
<app-icon icon="slack"></app-icon>
<app-icon icon="sort" color="white"></app-icon>
<app-icon icon="grid" color="yellow"></app-icon>
<app-icon icon="star" color="yellow"></app-icon>
<app-icon icon="star" [stroke]="true" color="yellow"></app-icon>
<app-icon icon="chatbubbles" [stroke]="true" color="red"></app-icon>
<app-icon icon="teams" color="white"></app-icon>
<app-icon icon="dots" color="white"></app-icon>
<app-icon icon="hamburger" color="white"></app-icon>
<app-icon icon="user" color="white"></app-icon>
