<mat-grid-list cols="5" rowHeight="700px">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-grid-tile-header>Metadata</mat-grid-tile-header>
    <mat-grid-list class="internalMatGrid" cols="2" rowHeight="95px">
      <mat-grid-tile [colspan]="2" [rowspan]="3">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Description
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>New backend running containers on Kubernetes for the Client Portal solution.</div>

            <mat-list dense class="description-list">
              <mat-list-item>
                <div class="mat-body-1">Data sensitivity</div>
                <mat-chip-list>
                  <mat-chip color="warn" selected>Restricted</mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item>
                <div class="mat-body-1">Users</div>
                <mat-chip-list>
                  <mat-chip>600</mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item>
                <div class="mat-body-1">Servers</div>
                <mat-chip-list>
                  <mat-chip>100</mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item>
                <div class="mat-body-1">Regions</div>
                <mat-chip-list>
                  <mat-chip>UK</mat-chip>
                </mat-chip-list>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Business unit
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">FICC Business Unit</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Cost centre
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">XXX-123-456-YYY</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Technology owner
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">Sanjeev Gupta</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Technology owner e-mail
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">s.gupta@company.name</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Billing
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-body-2">Monthly: Eagle tier 2 <a href="#">View details</a></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="configuration-grid-tile">
    <mat-grid-tile-header>Configuration</mat-grid-tile-header>
    <mat-grid-list class="internalMatGrid" cols="1" rowHeight="110px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Activator
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Single Region Kubernetes</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Category
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip>Micro-services</mat-chip>
              <mat-chip>Tier 2</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Environments
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip>POC</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Cloud patform
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip>GCP</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Resources
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-chip-list>
              <mat-chip>GKE Cluster | <a href="#">40.123.45.236</a></mat-chip>
              <mat-chip>ITSO | <a href="#">40.123.45.236</a></mat-chip>
              <mat-chip>Cloud SQL | <a href="#">40.123.45.236</a></mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
</mat-grid-list>
