:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.step {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    &::before {
      --arrow-width: 2px;
      content: '';
      display: block;
      transform: rotate(45deg);
      width: 0.5em;
      height: 0.5em;
      border-top: var(--arrow-width) solid var(--primary-color);
      border-right: var(--arrow-width) solid var(--primary-color);
      margin-right: 0.5rem;
    }
  }
}

a,
button {
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  padding: 0 8px;
  min-width: auto;
}

.badge {
  margin: 0 0.5rem;
}

.arrow {
  display: flex;
  align-items: center;

  &::after {
    --arrow-width: 2px;

    display: block;
    transform: rotate(45deg);
    width: 0.5em;
    height: 0.5em;
    border-top: var(--arrow-width) solid var(--primary-color);
    border-right: var(--arrow-width) solid var(--primary-color);
    margin-right: 0.5rem;
  }
}
