<button class="cancel-btn" *ngIf="cancelActive">
  <mat-icon class="app-cancel-icon">cancel</mat-icon>
  Cancel
</button>
<div class="step" *ngFor="let step of steps; last as lastElement">
  <div *ngIf="!step.link && !step.id; else link">
    <p [ngStyle]="lastElement ? { 'font-weight': 'bold' } : {}" mat-menu-item>
      {{ step.name | titlecase }}
    </p>
  </div>

  <ng-template #link>
    <a
      [ngStyle]="lastElement ? { 'font-weight': 'bold' } : {}"
      mat-menu-item
      routerLink="{{ '//' + step.link }}"
      [queryParams]="{ id: step.id }"
    >
      {{ step.name | titlecase }}
    </a>
  </ng-template>
</div>
<div class="badge" *ngIf="isActive">Active</div>
