:host {
  --line: 1px solid var(--grey);
  display: block;
  position: relative;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.label-text {
  color: var(--dark-grey);
  margin-bottom: 0.5rem;
  font-size: 0.875rem;

  &.required::after {
    position: relative;
    top: -0.3em;
    content: '*';
    color: var(--red);
    font-size: 0.8em;
  }
}

.selected {
  border: var(--line);
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;

  &:not(.open) {
    border-radius: var(--radius);
  }

  &.open {
    border-bottom: none;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);

    &::after {
      transform: rotate(-135deg);
    }
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    top: -0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
    transform: rotate(45deg);
  }
}

.values {
  display: none;
  z-index: 100;

  &.open {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    border: {
      left: var(--line);
      right: var(--line);
      bottom: var(--line);
    }
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: var(--white);
  }
}

.value {
  padding: 0.6rem 1rem;

  &:hover {
    background-color: var(--active-grey-background);

    &:last-child {
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
  }
}
