<mat-tab-group mat-stretch-tabs>
  <!-- <mat-tab label="Overview">
    <app-activator-store-details-overview [activator]="activator"></app-activator-store-details-overview>
  </mat-tab> -->
  <mat-tab label="Audit history">
    <app-activator-store-details-audit-history></app-activator-store-details-audit-history>
  </mat-tab>
  <mat-tab label="Version history">
    <app-activator-store-details-version-history></app-activator-store-details-version-history>
  </mat-tab>
  <mat-tab label="Users"> <app-activator-store-details-users></app-activator-store-details-users> </mat-tab>
  <mat-tab label="Billing"> <app-activator-store-details-billing></app-activator-store-details-billing> </mat-tab>
</mat-tab-group>
