<mat-grid-list cols="5" rowHeight="700px" gutterSize="10px">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-grid-tile-header>{{ vpnProjectName }}</mat-grid-tile-header>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Description
        </mat-card-title>
        <mat-card-subtitle>
          {{ vpnDescription }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="vpn-card-content">
        <mat-list dense class="description-list">
          <mat-list-item>
            <div class="mat-body-1">Subnet Mode</div>
            <mat-chip-list>
              <mat-chip>{{ vpnSubnetMode }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">BGP Routing Mode</div>
            <mat-chip-list>
              <mat-chip>{{ vpnBgpRoutingMode }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">HA VPN Gateway</div>
            <mat-chip-list>
              <mat-chip>{{ vpnHaVpnGateway }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">Cloud Router Name</div>
            <mat-chip-list>
              <mat-chip>{{ vpnCloudRouterName }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">External VPN Gateway</div>
            <mat-chip-list>
              <mat-chip>{{ vpnExternalVpnGateway }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">Google ASN</div>
            <mat-chip-list>
              <mat-chip>{{ vpnGoogleASN }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">Peer ASN</div>
            <mat-chip-list>
              <mat-chip>{{ vpnPeerASN }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">BGP interface netmask length</div>
            <mat-chip-list>
              <mat-chip>{{ vpnPeerASN }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" class="google-session-tile">
    <mat-grid-tile-header>Google Endpoint</mat-grid-tile-header>
    <mat-card class="google-session-card primary">
      <mat-card-header>
        <mat-card-title>
          Primary
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="google-session-card-content">
        <div class="mat-h4">
          Region
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleEndpointPrimaryRegion }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          Subnet Name
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleEndpointPrimarySubnetName }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          GCP VPC subnet
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleEndpointPrimaryGcpVpcSubnet }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="google-session-card secondary">
      <mat-card-header>
        <mat-card-title>
          Secondary
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="google-session-card-content">
        <div class="mat-h4">
          Region
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleEndpointSecondaryRegion }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          Subnet Name
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleEndpointSecondarySubnetName }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          GCP VPC subnet
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleEndpointSecondaryGcpVpcSubnet }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-grid-tile-header>Remote Endpoint</mat-grid-tile-header>

    <mat-card class="on-premise-card">
      <mat-card-header>
        <mat-card-subtitle>
          <mat-list dense class="description-list">
            <mat-list-item>
              <div class="mat-body-1">Vendor</div>
              <mat-chip-list>
                <mat-chip selected>{{ remoteEndpointVendor }}</mat-chip>
              </mat-chip-list>
            </mat-list-item>
          </mat-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="on-premise-card-content">
        <div class="table-header">
          <div class="col"></div>
          <div class="col">Primary</div>
          <div class="col">Secondary</div>
        </div>
        <div class="table-row">
          <div class="col">Peer IP</div>
          <div class="col">{{ remoteEndpointPrimaryPeerIp }}</div>
          <div class="col">{{ remoteEndpointSecondaryPeerIp }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">Peer IP subnet</div>
          <div class="col">{{ remoteEndpointPrimaryPeerIpSubnet }}</div>
          <div class="col">{{ remoteEndpointSecondaryPeerIpSubnet }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">VPN Tunnel</div>
          <div class="col">{{ remoteEndpointPrimaryVpnTunnel }}</div>
          <div class="col">{{ remoteEndpointSecondaryVpnTunnel }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">BGP Peer</div>
          <div class="col">{{ remoteEndpointPrimaryBgpPeer }}</div>
          <div class="col">{{ remoteEndpointSecondaryBgpPeer }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">Shared Secret</div>
          <div class="col">{{ remoteEndpointPrimarySharedSecret }}</div>
          <div class="col">{{ remoteEndpointSecondarySharedSecret }}</div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div class="app-bottom-action left">
  <button mat-button color="primary" matStepperPrevious>
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>
</div>
<div class="app-bottom-action right">
  <button mat-button color="primary" (click)="submit()">
    Submit
  </button>
</div>
