:host {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  border: 0.5px solid var(--transparent-white);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
