/* You can add global styles to this file, and also import other style files */

:root {
  font-family: "SF Pro Display";
  font-size: 16px;

  /* variables */
  --primary-color: #5F2A60;
  --white: #FFF;
  --black: #000;
  --blackish: #272424;
  --grey: #BDBDBD;
  --middle-light-grey: #C4C4C4;
  --dark-grey: #8C8C8C;
  --light-grey: #FAFAFA;
  --active-grey-background: #F2F2F2;
  --transparent-white: rgba(255, 255, 255, 0.329);
  --transparent-grey: rgba(200, 200, 200, 0.192);
  --green: #27AE60;
  --radius: 0.3rem;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

@font-face{
  font-family: 'SF Compact Display';
  src: url(assets/fonts/SFCompactDisplay/sf-compact-display-medium.otf) format("opentype")
}

.flex-filler {
  flex: auto;
}
