<header>
  <div>
    <a mat-button color="primary" routerLink="/administration/teams">
      <mat-icon>chevron_left</mat-icon>
      Back
    </a>
  </div>
  <div>
    <span class="vertical-divider"></span>
    <span class="title">View team</span>
    <span class="vertical-divider"></span>
    <span class="subtitle">Team</span>
  </div>
</header>
<main>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Overview">
      <app-teams-view-overview></app-teams-view-overview>
    </mat-tab>
    <mat-tab label="Team Members">
      <app-teams-view-team-members></app-teams-view-team-members>
    </mat-tab>
  </mat-tab-group>
</main>
