<mat-grid-list cols="5" rowHeight="700px" gutterSize="10px">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-grid-tile-header>{{ vpnProjectName }}</mat-grid-tile-header>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Description
        </mat-card-title>
        <mat-card-subtitle>
          {{ vpnDescription }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="vpn-card-content">
        <mat-list dense class="description-list">
          <mat-list-item>
            <div class="mat-body-1">Subnet Mode</div>
            <mat-chip-list>
              <mat-chip>{{ vpnSubnetMode }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">BGP Routing Mode</div>
            <mat-chip-list>
              <mat-chip>{{ vpnBgpRoutingMode }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">HA VPN Gateway</div>
            <mat-chip-list>
              <mat-chip>{{ vpnHaVpnGateway }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">Cloud Router Name</div>
            <mat-chip-list>
              <mat-chip>{{ vpnCloudRouterName }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">External VPN Gateway</div>
            <mat-chip-list>
              <mat-chip>{{ vpnExternalVpnGateway }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">Google ASN</div>
            <mat-chip-list>
              <mat-chip>{{ vpnGoogleASN }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">Peer ASN</div>
            <mat-chip-list>
              <mat-chip>{{ vpnPeerASN }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <div class="mat-body-1">BGP interface netmask length</div>
            <mat-chip-list>
              <mat-chip>{{ vpnPeerASN }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" class="google-session-tile">
    <mat-grid-tile-header>Google session</mat-grid-tile-header>
    <mat-card class="google-session-card primary">
      <mat-card-header>
        <mat-card-title>
          Primary
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="google-session-card-content">
        <div class="mat-h4">
          Region
        </div>
        <mat-chip-list>
          <mat-chip>{{ googlePrimaryRegion }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          Subnet Name
        </div>
        <mat-chip-list>
          <mat-chip>{{ googlePrimarySubnetName }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          GCP VPC subnet
        </div>
        <mat-chip-list>
          <mat-chip>{{ googlePrimaryGcpVpcSubnet }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="google-session-card secondary">
      <mat-card-header>
        <mat-card-title>
          Secondary
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="google-session-card-content">
        <div class="mat-h4">
          Region
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleSecondaryRegion }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          Subnet Name
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleSecondarySubnetName }}</mat-chip>
        </mat-chip-list>
        <div class="mat-h4">
          GCP VPC subnet
        </div>
        <mat-chip-list>
          <mat-chip>{{ googleSecondaryGcpVpcSubnet }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-grid-tile-header>On Premise Session</mat-grid-tile-header>

    <mat-card class="on-premise-card">
      <mat-card-header>
        <mat-card-subtitle>
          <mat-list dense class="description-list">
            <mat-list-item>
              <div class="mat-body-1">Vendor</div>
              <mat-chip-list>
                <mat-chip selected>{{ onPremiseVendor }}</mat-chip>
              </mat-chip-list>
            </mat-list-item>
          </mat-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="on-premise-card-content">
        <div class="table-header">
          <div class="col"></div>
          <div class="col">Primary</div>
          <div class="col">Secondary</div>
        </div>
        <div class="table-row">
          <div class="col">Peer IP</div>
          <div class="col">{{ onPremisePrimaryPeerIp }}</div>
          <div class="col">{{ onPremiseSecondaryPeerIp }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">Peer IP subnet</div>
          <div class="col">{{ onPremisePrimaryPeerIpSubnet }}</div>
          <div class="col">{{ onPremiseSecondaryPeerIpSubnet }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">VPN Tunnel</div>
          <div class="col">{{ onPremisePrimaryVpnTunnel }}</div>
          <div class="col">{{ onPremiseSecondaryVpnTunnel }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">BGP Peer</div>
          <div class="col">{{ onPremisePrimaryBgpPeer }}</div>
          <div class="col">{{ onPremiseSecondaryBgpPeer }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-row">
          <div class="col">Shared Secret</div>
          <div class="col">{{ onPremisePrimarySharedSecret }}</div>
          <div class="col">{{ onPremiseSecondarySharedSecret }}</div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div>
  <!-- todo: fix button - rputing doesn't work -->
  <button mat-button color="primary" (click)="cancel()">Back</button>
</div>
