header {
  padding: 0.2rem 1.5rem;
  background-color: var(--active-grey-background);
  display: flex;
  align-items: center;

  span {
    font-family: 'SF Pro Display', Roboto, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 20px;

    &.title {
      font-weight: 800;
    }

    &.vertical-divider {
      border-left: 1px solid var(--grey);
      margin: 0.5rem;
    }
  }
}

.solution-details-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: left;
  height: calc(100vh - 11rem);

  p {
    width: 100%;

    .mat-form-field {
      width: 100%;

      &.small-width {
        width: 30%;
        margin-right: 2rem;
      }
    }
  }
}

/* Workspace view */

.solution-workspace-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
  height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: left;

  .sandbox-container {
    width: 60%;
    font-size: large;
  }

  p {
    width: 100%;

    .mat-form-field {
      width: 30%;
      margin: 1rem;
    }
  }
}

.mat-form-field {
  font-size: 14px;
}

.mat-grid-tile {
  &.workspace-tile,
  &.sandbox-tile {
    background-color: var(--active-grey-background);
  }
}

.mat-chip {
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  min-height: 1.5rem;
  border-radius: 0.2rem;
}

.mat-grid-list {
  margin-bottom: 1rem;

  .mat-card {
    height: 80%;
    width: 95%;

    &.workspace-card,
    &.sandbox-card {
      position: absolute;
      height: 40%;
      width: 90%;
      background-color: var(--active-grey-background);

      &.primary {
        top: 52px;
      }

      &.secondary {
        top: 366px;
      }
    }

    &.sandbox-card {
      height: 60%;
    }

    .mat-card-content {
      &.description-card-content {
        .mat-list {
          background-color: var(--active-grey-background);
          padding: 1rem 0;

          .mat-body-1 {
            width: 16rem;
          }
        }
      }

      &.workspace-card-content {
        .mat-h4 {
          margin: 8px 0 8px;
        }
      }

      &.sandbox-card-content {
        margin-top: 2rem;

        p {
          font-size: large;
        }
      }
    }
  }
}

.mat-stepper-horizontal {
  margin-bottom: 5rem;
}
