:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: {
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
  }
  background-color: var(--active-grey-background);
}

.solution-details-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: left;
  height: calc(100vh - 11rem);

  p {
    width: 100%;
    .mat-form-field {
      width: 100%;

      &.small-width {
        width: 30%;
        margin-right: 2rem;
      }
    }
  }
}

main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-content: left;
}

/* Workspace view */

.solution-workspace-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
  height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: left;

  p {
    width: 100%;
    .mat-form-field {
      width: 30%;
      margin: 1rem;
    }
  }
}

.environment-container {
  display: flex;
  flex-direction: row;
}

.workspace-form-container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  align-content: left;
  justify-content: left;
  align-self: flex-end;
  margin-bottom: 2rem;
  p {
    width: 100%;
  }
}

.solution-details-footer-container,
.solution-workspace-footer-container {
  display: flex;
  padding: 0.3rem 0.5rem;
  background-color: var(--active-grey-background);
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  margin-left: -51.5px;
  margin-right: -51.5px;
  margin-top: inherit;
}

.icon-size {
  font-size: 15px;
  padding-top: 7px;
}

.mat-form-field {
  font-size: 14px;
}
