<header>
  <app-breadcrumbs> </app-breadcrumbs>
</header>
<div class="select-bar">
  <app-business-unit-home-filter
    class="home-list-filter"
    (filterList)="onFilterListUpdate($event)"
  ></app-business-unit-home-filter>
  <app-grid-view-switch class="grid-view-switch" [gridViewName]="gridViewOptionsName"></app-grid-view-switch>
</div>
<app-business-unit-home-grid
  *ngIf="isGridViewEnabled$ | async; else listview"
  [isLoading]="(getBusinessUnitsStatus$ | async).loading"
  [businessUnitList$]="businessUnits$"
></app-business-unit-home-grid>
<ng-template #listview>
  <app-business-unit-home-list
    [businessUnitList$]="businessUnits$"
    [isLoading]="(getBusinessUnitsStatus$ | async).loading"
  ></app-business-unit-home-list>
</ng-template>
