<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Overview">
    <app-solutions-details-overview></app-solutions-details-overview>
  </mat-tab>
  <mat-tab label="Audit history">
    <app-solutions-details-audit-history></app-solutions-details-audit-history>
  </mat-tab>
  <mat-tab label="Version history">
    <app-solutions-details-version-history></app-solutions-details-version-history>
  </mat-tab>
  <mat-tab label="Users">
    <app-solutions-details-users></app-solutions-details-users>
  </mat-tab>
  <mat-tab label="Billing">
    <app-solutions-details-billing></app-solutions-details-billing>
  </mat-tab>
</mat-tab-group>
