aside {
  display: flex;
  height: 100%;
  box-shadow: 0.2rem 0 1rem var(--grey);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  position: relative;
  z-index: 20;
}

app-icons-bar {
  width: 4rem;
  flex: none;
  background-color: var(--primary-color);
}

app-navigation-bar {
  flex: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 0;
}

.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.purpleNav {
  background-color: var(--grey);
  color: var(--primary-color);
}
