<h1 mat-dialog-title>Deploy {{ solution.name }}</h1>
<div mat-dialog-content>
  <p class="">
    <span class="mat-body-strong mat-text-medium">
      Business Unit:
      <span class="mat-body">{{ solution.businessUnit.name }}</span>
    </span>
    <span class="mat-body-strong mat-text-medium">
      Team:
      <span class="mat-body">{{ solution.team.name }}</span>
    </span>
    <span class="mat-body-strong mat-text-medium">
      Cost Centre:
      <span class="mat-body">{{ solution.costCentre }}</span>
    </span>
  </p>
  <div>
    <span class="mat-body-strong mat-text-medium">CI (Continuous intergration service):</span>
    <p class="mat-body-1">{{ solution.ci.value }}</p>
  </div>
  <div>
    <span class="mat-body-strong mat-text-medium">Source Control:</span>
    <p class="mat-body-1">{{ solution.sourceControl.value }}</p>
  </div>
  <div>
    <span class="mat-body-strong mat-text-medium">CD (Continuous deployment):</span>
    <p class="mat-body-1">{{ solution.cd.value }}</p>
  </div>
  <div>
    <span class="mat-body-strong mat-text-medium">Environments:</span>
    <p *ngFor="let env of environments" class="mat-body-1">{{ env }}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
  <button
    mat-raised-button
    (click)="edit()"
    routerLink="mission-control/solutions/edit"
    [queryParams]="{ id: solution.id }"
    color="primary"
  >
    Edit
  </button>
  <button mat-raised-button (click)="confirm()" color="primary">Deploy</button>
</div>
