.mcm-msg {
  position: absolute;
  width: 575px;
  height: 87px;
  left: 380px;
  top: 74px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */

  color: #5f2a60;
}

.mcm-dsc {
  position: absolute;
  width: 575px;
  height: 114px;
  left: 380px;
  top: 184px;

  font-family: 'SF Pro Display';
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  color: #272424;
}

.mcm-link {
  position: absolute;
  height: 36px;
  left: 380px;
  right: 630px;
  top: 329px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  display: flex;
  align-items: center;
  text-decoration-line: underline;

  /* TBP */

  color: #5f2a60;
}

.wcm-logo {
  position: absolute;
  width: 995.08px;
  height: 498px;
  left: 320px;
  top: 314px;
}
