:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 0.3rem 0.5rem;
  background-color: var(--active-grey-background);
  .mat-expansion-panel {
    box-shadow: unset;
    background: unset;
    h1 {
      font-size: 1.25rem;
      .vertical-divider {
        border-left: 1px solid var(--grey);
        margin: 0.5rem;
      }
    }
    .setup-progress {
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      h2 {
        margin-left: 26px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
      p {
        max-width: 50%;
        margin-left: 26px;
        font-family: 'SF Pro Display';
        font-size: 11px;
        line-height: 14px;
        color: #828282;
      }
      .mat-stepper-horizontal {
        background-color: unset;
      }
    }
  }
}
