:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tab-background {
  width: 100%;
  height: 90px;
  background-color: var(--active-grey-background);
  position: absolute;
  top: 46px;
}

main {
  padding: 1.5rem 2rem 1.5rem 2rem;
}

header {
  padding: 0.3rem 0.5rem;
  background-color: var(--active-grey-background);
  display: flex;
  align-items: center;
  span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 20px;
    &.title {
      font-weight: 800;
    }
    &.vertical-divider {
      border-left: 1px solid var(--grey);
      margin: 0.5rem;
    }
  }
}

.create-new-button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px dashed var(--dark-grey-2);
  font-size: 1.5rem;
  padding: 0 2rem;

  .mat-icon {
    line-height: 3rem;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    margin-left: -2rem;
  }
}
