<header>
  <app-breadcrumbs
    [steps]="[
      {
        name: 'Landing Zone',
        link: '/administration/landing-zone'
      },
      {
        name: 'WAN'
      }
    ]"
  ></app-breadcrumbs>
</header>
<div class="tab-background"></div>
<main>
  <mat-tab-group mat-stretch-tabs color="accent">
    <mat-tab label="VPN">
      <app-landing-zone-wan-home-vpn></app-landing-zone-wan-home-vpn>
    </mat-tab>
    <mat-tab label="Partner Interconnect">
      <app-landing-zone-wan-home-partner></app-landing-zone-wan-home-partner>
    </mat-tab>
    <mat-tab label="Direct Peering">
      <app-landing-zone-wan-home-direct></app-landing-zone-wan-home-direct>
    </mat-tab>
  </mat-tab-group>
</main>
