header {
  padding: 0.2rem 1.5rem;
  background-color: var(--active-grey-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-container {
  margin-right: 1rem;
}

.table-home {
  width: 98%;
  margin: 0 1rem;
}

.table-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem 0 2.2rem;
}

.img {
  height: auto;
  width: 40px;
}
