<header>
  <app-breadcrumbs> </app-breadcrumbs>
</header>

<mat-card class="site-view-card">
  <mat-card-header>
    <mat-card-title> Site details </mat-card-title>
  </mat-card-header>
  <mat-card-content class="site-view-card-content">
    <mat-list dense class="description-list">
      <mat-list-item>
        <div class="mat-body-1">Site</div>
        <mat-chip-list>
          <mat-chip>{{ site.site }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div class="mat-body-1">Status</div>
        <mat-chip-list>
          <mat-chip>{{ site.status }}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
